.body-avis {
    height: 180vh;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-image: url("../img/avis/banniere-header.png");
}
.intro-avis {
    .content {
        padding: 55px;
        margin: 120px 0px 120px 0px;
        background-color: #090808a6;
        .text {
            h1 {
                margin-bottom: 45px;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .content {
            margin: 60px 0px 60px 0px;
            padding: 45px 25px 45px 25px;
        }
    }
}
.avis-slide {
    padding: 120px 0px 120px 0px;
    background-color: $black;
    .content-avis {
        .item-content {
            padding: 20px;
            border: 1px solid $blue-two;
            .text-content {
                font-size: 15px;
                color: $white-one;
                font-weight: 300;
                text-align: justify;
                text-decoration: none;
                font-family: $text;
            }
        }
        .footer-avis {
            text-align: center;
            margin: 35px 0px 15px 0px;
            img {
                width: 80px;
                border-radius: 15px;
                margin-bottom: 15px;
            }
            .footer-content {
                h5 {
                    @extend %title-one-testi;
                }
                h6 {
                    @extend %tilte-two-testi;
                    color: $white-one !important;
                }
            }

        }
    }
    .carousel-indicators [data-bs-target] {
        background-color: $blue-two !important;
    }
    .carousel-indicators {
        margin-bottom: -5%;
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .footer-avis {
            margin: 35px 0px 35px 0px !important;
        }
        .carousel-control-next, 
        .carousel-control-prev {
            color: $blue-two !important;
        }
    }
}