#ButtonTop {
    right: 25px;
    bottom: 25px;
    z-index: 100;
    border: none;
    outline: none;
    display: none;
    padding: 15px;
    cursor: pointer;
    position: fixed;
    color: $white;
    font-size: 15px;
    border-radius: 15px;
    background-color: $blue-one;
    &:hover {
        background-color: $blue;
    }
}

.btn-sec {
    margin-top: 20px;
    .button-sec {
        color: $blue-two;
        .btn {
            font-size: 10px;
            color: $blue-two;
            letter-spacing: 3.5px;
            border: 0.5px solid $blue; 
            padding: 15px 25px 15px 25px;
            font-family: $title;
            &:hover {
                color: $white;
                border: 0.5px solid $white;
            }
        }
        &:hover {
            color: $white;
        }
    }
}