.banner-devis {
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../img/devis/devis.png");
    .content {
        margin: 35% 20% 5% 0%;
        h1 {
            margin-bottom: 25px;
        }
    }
}
.formulaire-devis,
.formulaire-contact {
    padding: 80px 0px 80px 0px;
    background-color: $black;
    form {
        select, 
        textarea,
        input[type="text"],
        input[type="email"],
        input[type="date"], 
        input[type="tel"],
        input[type="number"] {
            @extend %input;
        }
        input::placeholder,
        textarea::placeholder {
            font-size: 12px;
            color: $white-one;
        }
    }
    button {
        margin-top: 35px;
        border: none;
        width: 25%;
        font-size: 12px;
        color: $white;
        letter-spacing: 2px;
        border-radius: 0.2rem;
        padding: 10px 15px 10px 15px;
        background-color: $blue-one;
        font-family: $title;
    }
    label {
        @extend %label;
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        button {
            width: 50% !important;
        }
        form {
            padding: 20px 20px 20px 20px !important;
        }
    }
}

.body-contact {
    height: 180vh;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-image: url("../img/contact/contact.png");
}
.contact {
    .intro-contact {
        .content {
            padding: 55px;
            margin: 120px 0px 120px 0px;
            background-color: #090808a6;
            h1 {
                margin-bottom: 25px;
            }
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            .content {
                margin: 60px 0px 60px 0px;
                padding: 45px 25px 45px 25px;
            }
        }
    }
}

@media screen and (max-width: $layout-breakpoints-xxs) {
    #banner-devis {
        #content {
            padding: 30px;
            width: 100%;
            margin: 0% !important;
            background-color: #090808a6;
        }
    }
}
@media screen and (max-width: $layout-breakpoints-xsm) {
    .banner-devis {
        .content {
            margin: 25% 20% 25% 0% !important;
        }
    }
}
@media screen and (max-width: $layout-breakpoints-sm) {
    .banner-devis {
        min-height: 530px;
        .content {
            margin: 25% 10% 25% 0%;
        }
    }
}
