.fondatrice {
    img {
        width: 100%;
    }
    h1 {
        margin-bottom: 40px;
    }
    .content {
        margin: 10% 0% 10% 0%;
        background-color: #090808a6;
        .text {
            padding: 50px;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .content {
            padding: 20px 20px 20px 20px !important;
            .text {
                padding: 0px !important;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .content {
            margin: 10% 0% 0% 0%;
        }
    }
    @media screen and (max-width: $layout-breakpoints-sm) {
        padding: 75px 0px 0px 0px;
    }
}
.team {
    .img-1 {
        width: 620px;
        @media screen and (max-width: $layout-breakpoints-sm) {
            width: 100%;
        }
    }
    .img-2 {
        width: 620px;
        @media screen and (max-width: $layout-breakpoints-sm) {
            width: 100%;
        }
    }
    .img-equipe {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .content-1 {
        padding: 80px 50px 80px 50px;
        h2 {
            margin-bottom: 20px;
        }
        span {
            font-size: 14px;
            font-weight: 500;
            color: $blue-two;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: $title;
        }
        p {
            margin: 30px 0px 0px 0px;
        }
        .reseaux {
            margin-top: 30px;
            a {
                font-size: 12px;
                color: $blue;
                margin-right: 15px;
                text-decoration: none;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-family: $title;
            }
        }
    }
    .content-2 {
        padding: 80px 50px 80px 50px;
        h2 {
            margin-bottom: 20px;
        }
        span {
            font-size: 14px;
            font-weight: 500;
            color: $blue-two;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: $title;
        }
        p {
            margin: 30px 0px 0px 0px;
        }
        .reseaux {
            margin-top: 30px;
            a {
                font-size: 12px;
                color: $blue;
                margin-right: 15px;
                text-decoration: none;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-family: $title;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .content-1 {
            padding: 20px 20px 20px 20px !important;
        }
        .content-2 {
            padding: 40px 20px 20px 20px !important;
        }
        #img-1,
        #img-2 {
            width: 100% !important;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .content-1 {
            h2 {
                margin-top: 20px;
            }
        }
        .content-2 {
            padding: 80px 50px 0px 50px;
        }
        .img-1 {
            width: 620px !important;
        }
        .img-2 {
            width: 620px !important;
        }
    }
    @media screen and (max-width: $layout-breakpoints-sm) {
        .content-1 {
            padding: 30px 40px 30px 57px;
        }
        .reseaux {
            margin-top: 0px;
        }
    }
}
// .team {
//     img {
//         width: 650px;
//     }
//     h2 {
//         margin-bottom: 25px;
//     }
//     p {
//         margin: 30px 0px 0px 0px;
//     }
//     .content-1 {
//         padding: 80px;
        
        
//     }
//     .image-2 {
//         margin: 45px 0px 45px 0px;
//     }
//     .content-2 {
//         padding: 80px;
//         span {
//             font-size: 14px;
//             font-weight: 500;
//             color: $blue-two;
//             letter-spacing: 2px;
//             text-transform: uppercase;
//             font-family: $title;
//         }
//         .reseaux {
//             margin-top: 30px;
//             a {
//                 font-size: 12px;
//                 color: $blue;
//                 margin-right: 15px;
//                 text-decoration: none;
//                 letter-spacing: 2px;
//                 text-transform: uppercase;
//                 font-family: $title;
//             }
//         }
//     }
//     @media screen and (max-width: $layout-breakpoints-xsm) {
//         img {
//             width: 695px !important;
//         }
//         .content-1 {
//             padding: 0px !important;
//             .text {
//                 padding: 50px;
//             }
//         }
//     }
//     @media screen and (max-width: $layout-breakpoints-sm) {
//         img {
//             width: 468px;
//         }
//         .content-1 {
//             padding: 5px 0px 0px 20px;
//         }
//         .reseaux {
//             margin-top: 15px;
//         }
//         .content-2 {
//             padding: 35px 20px 0px 0px;
//         }
//     }
// }