.body-accueil {
    height: 180vh;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-image: url("../img/header/banniere-header.png");
}

header {
    // background-color: rgba(255, 255, 255, 0.24);
    background-color: #090808a6;
    .info-header {
        padding: 10px 0px 5px 0px;
        border-bottom: 0.5px solid #f4f1f16b;
        ul {
            li {
                float: left;
                position: relative;
                padding-right: 24px;
                margin: 10px 20px 10px 0px;
                border-right: 1px solid rgb(170, 170, 170);
            }
        }
        span {
            text-align: justify;
            h3,
            h4,
            h5,
            h6 {
                color: $white;
                font-size: 10px;
                font-family: $text;
            }
        }
        .res {
            ul {
                float: right;
                li {
                    padding-right: 10px;
                    border-right: none;
                    margin: 0px 0px 0px 0px;
                    a {
                        i {
                            color: $white;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: $layout-breakpoints-xs) {
            .res {
                margin-top: -40px;
            }
        }
    }
    h1 {
        color: $white;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-family: $title;
        .title-site {
            color: $blue;
            
        }
    }
    .navbar-dark {
        padding: 10px 0px 10px 0px;
        .navbar-nav {
            .nav-link {
                @extend %a-header;
            }
            .nav-link.active {
                color: $blue;
                font-weight: 600;
            }
            .dropdown-menu.show {
                border: none !important;
                background-color: #090808a6 !important;
                li {
                    hr {
                        color: $white-one;
                    }
                    .dropdown-item {
                        font-size: 11px !important;
                        @extend %a-header;
                        &:hover {
                            background-color: transparent;
                        }
                    }
                    &:hover {
                        background-color: $blue-one;
                    }
                }
            }
        }
        form {
            input {
                color: $white;
                font-size: 15px;
                letter-spacing: 0.2px;
                border: 0.5px solid #f4f1f16b;
                background-color: transparent !important;
                font-family: $text;
            }
            input::placeholder {
                color: $white;
            }
        }
        @media screen and (max-width: $layout-breakpoints-xsm) {
            .navbar-toggler {
                color: $blue !important;
                border-color: $blue !important;
                .icon-nav {
                    i {
                        color: $blue-two;
                    }
                }
            }
        }
    }
}