.info-header {
    margin-top: 45px;
    .content {
        .logo {
            img {
                width: 120px;
            }
            @media screen and (max-width: $layout-breakpoints-xsm) {
                text-align: center;
                img {
                    margin-bottom: -20px;
                }
            }
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            .mb-5 {
                margin-bottom: 1rem!important;
            }
        }
        ul {
            li {
                float: left;
                position: relative;
                padding-right: 24px;
                margin: 37px 20px 37px 0px;
                border-right: 1px solid rgb(170, 170, 170);
                .name {
                    @extend %a-info-header;
                }
                .tel,
                .mail,
                .jour,
                .horaires {
                    @extend %a-info-p;
                }
                &:last-child {
                    padding-right: 0px;
                    border-right: none;
                }
            }
            .btn {
                @extend %button-one;
            }
        }
        .info-right {
            text-align: end;
            @media screen and (max-width: $layout-breakpoints-xs) {
                display: none;
            }
            @media screen and (max-width: $layout-breakpoints-xsm) {
                ul {
                    margin-top: -6%;
                    margin-left: -2% !important;
                    .n {
                        display: none;
                    }
                    li {
                        margin: 37px 12px 37px 7px;
                    }
                }
            }
            @media screen and (max-width: $layout-breakpoints-sm) {
                ul {
                    margin-left: -25%;
                }
            }
        }
    }
}
.bg-dark {
    background-color: $black-one !important;
}
.navigation {
    .navbar-dark {
        .navbar-nav {
            .nav-link {
                @extend %a-header;
            }
            .nav-link.active {
                color: $blue-one;
            }
            .dropdown-menu.show {
                border: none !important;
                background-color: $black-one;
                li {
                    hr {
                        color: $white-one;
                    }
                    .dropdown-item {
                        font-size: 11px !important;
                        @extend %a-header;
                        &:hover {
                            color: $black-one;
                            background-color: transparent;
                        }
                    }
                    &:hover {
                        color: $black-one;
                        background-color: $blue-one;
                    }
                }
            }
        }
        @media screen and (max-width: $layout-breakpoints-xsm) {
            .navbar-toggler {
                color: $white-one !important;
                border-color: $white-one !important;
                .icon-nav {
                    i {
                        color: $blue-two;
                    }
                }
            }
        }
    }
}