main {
    section {
        @media screen and (max-width: $layout-breakpoints-xxs) {
            h2,
            h3,
            h4 {
                font-size: 21px !important;
            }   
            p {
                font-size: 14px !important;
            }
            .btn-two {
                width: 100%;
            }
        }
        .btn-one {
            @extend %button-one;
        }
    }
}

// DEVIS & CONTACT

.devis-m {
    .banner-devis {
        min-height: 800px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../image/devis/devis.png");
        .content {
            margin: 35% 5% 5% 15%;
            .text {
                h1 {
                    @extend %title-dark;
                }
            }
        }
    }
    .formulaire-devis {
        padding: 80px 0px 80px 0px;
        background-color: $black-one;
        form {
            select, 
            textarea,
            input[type="text"],
            input[type="email"],
            input[type="date"], 
            input[type="tel"],
            input[type="number"] {
                @extend %input;
            }
            input::placeholder,
            textarea::placeholder {
                font-size: 12px;
                color: $white-two;
            }
    }
    button {
        margin-top: 35px;
        @extend %button-two;
    }
    label {
        @extend %label;
    }
}
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .banner-devis {
            min-height: 337px !important;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .banner-devis {
            .content {
                margin-top: 26% !important;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-sm) {
        .div-devis {
            display: none;
        }
        .banner-devis {
            .content {
                padding: 15%;
                margin-top: 54%;
                background-color: #FFFFFF73;
            }
        }
    }
}
.contact-m {
    .banner-contact{
        min-height: 800px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../image/contact/banner.png");
        .content {
            margin: 23.5% 5% 5% 15%;
            .text {
                h1 {
                    @extend %title-dark;
                }
            }
        }
    }
    .formulaire-contact {
        padding: 80px 0px 80px 0px;
        background-color: $black-one;
        form {
            select, 
            textarea,
            input[type="text"],
            input[type="email"],
            input[type="date"], 
            input[type="tel"] {
                @extend %input;
            }
            input::placeholder,
            textarea::placeholder {
                font-size: 12px;
                color: $white-two;
            }
        }
        button {
            margin-top: 35px;
            @extend %button-two;
        }
        label {
            @extend %label;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .banner-contact {
            min-height: 337px !important;
            .content {
                padding: 10% 5% 10% 5% !important;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .banner-contact {
            .content {
                margin-top: 34% !important;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-sm) {
        .banner-contact {
            background-position: top right;
            .content {
                padding: 15%;
                margin-top: 20%;
                background-color: #FFFFFF73;
            }
        }
    }
}

// HISTOIRE

.histoire {
    .hist-part-1 {
        .content {
            padding: 80px 0px 80px 0px;
            h1 {
                @extend %title-dark;
                margin-bottom: 25px;
            }
            p {
                @extend %text-dark;
            }
        }
        img {
            width: 100%;
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            .content {
                padding: 30px 0px 50px 0px;
            }
            h1 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
            }
        }
    }
    .hist-part-2 {
        background-size: cover;
        padding: 80px 0px 80px 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../image/sommes/deuxieme-b.png");
        .content {
            padding: 80px;
            background: $bg-dark;
            .text {
                h2 {
                    @extend %title-light;
                    margin-bottom: 35px;
                }
                p {
                    @extend %text-light;
                    margin-bottom: 35px;
                }
                .btn-two {
                    @extend %button-two;
                }
            }
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            .content {
                padding: 15px;
                .text {
                    h2 {
                        margin-top: 35px;
                        text-align: center;
                        line-height: 35px;
                    }
                }
                .btn-two {
                    margin-bottom: 35px;
                }
            }
        }
    }
    .hist-part-3 {
        padding: 80px 0px 80px 0px;
        h3 {
            @extend %title-dark;
            margin-bottom: 35px;
        }
        p {
            @extend %text-dark;
            margin-bottom: 35px;
        }
        img {
            width: 100%;
            height: auto;
        }
        .btn-two {
            @extend %button-two;
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 50px 0px 50px 0px;
            h3 {
                font-size: 21px;
                text-align: center;
                line-height: 35px;
                margin-bottom: 20px;
            }
        }
        @media screen and (max-width: $layout-breakpoints-xsm) {
            .content {
                margin-left: 0% !important;
            }
        }
        @media screen and (max-width: $layout-breakpoints-sm) {
            .content {
                padding: 0px;
                margin-left: -26%;
            }
        }
    }
    .hist-part-4 {
        background-size: cover;
        padding: 80px 0px 80px 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../image/sommes/quatrieme.png");
        .content {
            padding: 80px;
            background: $bg-dark;
            .text {
                h2 {
                    @extend %title-light;
                    margin-bottom: 35px;
                }
                p {
                    @extend %text-light;
                    margin-bottom: 35px;
                }
                .btn-two {
                    @extend %button-two;
                }
            }
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            .content {
                padding: 15px;
                .text {
                    h2 {
                        font-size: 21px;
                        text-align: center;
                        line-height: 35px;
                    }
                    .btn-two {
                        margin-bottom: 35px;
                    }
                }
            }
        }
    }
}

// ÉQUIPE

.equipe {
    .fondatrice {
        img {
            width: 800px;
            height: 800px;
        }
        .content {
            margin: 20% 0%;
            background-color: $bg-dark;
            .text {
                padding: 50px;
                h1 {
                    @extend %title-light;
                    margin-bottom: 35px;
                }
                p {
                    @extend %text-light;
                }
            }
        }
    }
    .team {
        padding: 80px 0px 80px 0px;
        background-color: $black-one;
        h2 {
            @extend %title-light;
            margin-bottom: 35px;
        }
        .card {
            border: none;
            background-color: transparent !important;
            h3,
            h5 {
                @extend %title-dark-card;
            }
            .card-body {
                padding: 25px 0px 25px 0px;
                .job {
                    @extend %job-card;
                }
                p {
                    margin-top: 15px;
                    @extend %text-dark-card;
                }
            }
            .card-footer {
                padding: 0px;
                a {
                    @extend %a-dark-card;
                    margin-right: 15px;
                }
            }
        }
        #card {
            margin-top: 45px;
            p {
                margin-bottom: -40px;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xs) {
        #card {
            p {
                margin-bottom: 0px !important;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .fondatrice {
            img {
                height: 350px;
            }
            #content {
                #text {
                    padding: 35px 30px 0px 30px;
                    h1 {
                        font-size: 21px !important;
                        text-align: center !important;
                        line-height: 35px !important;
                        margin-bottom: 20px !important;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .fondatrice {
            img {
                width: 100%;
            }
            .content {
                margin: -36% 0% 0% 0% !important;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-sm) {
        .fondatrice {
            .content {
                margin: 124% 0% 0% -74%;
            }
        }
    }
}

// AVIS

.avis {
    .banner-avis {
        min-height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../image/avis/avis-banner.png");
        .content {
            padding: 50px;
            margin: 20% 0% 15% 0%;
            background-color: $bg-dark;
            h1 {
                @extend %title-light;
                margin-bottom: 35px;
            }
            p {
                @extend %text-light;
            }
            @media screen and (max-width: $layout-breakpoints-xxs) {
                h1 {
                    font-size: 21px !important;
                    text-align: center !important;
                    line-height: 35px !important;
                    margin-top: 25px !important;
                }
            }
        }
    }
    .avis-slide {
        padding: 80px 0px 80px 0px;
        .content-avis {
            .item-content {
                padding: 20px;
                border: 1px solid $blue-two;
                .text-content {
                    font-size: 15px;
                    color: $black-two;
                    font-weight: 300;
                    text-align: justify;
                    text-decoration: none;
                    font-family: $text;
                }
            }
            .footer-avis {
                text-align: center;
                margin: 35px 0px 15px 0px;
                img {
                    width: 80px;
                    border-radius: 15px;
                    margin-bottom: 15px;
                }
                .footer-content {
                    h5 {
                        @extend %title-one-testi;
                    }
                    h6 {
                        @extend %tilte-two-testi;
                        color: $black-two !important;
                    }
                }

            }
        }
        .carousel-indicators [data-bs-target] {
            background-color: $blue-two !important;
        }
        .carousel-indicators {
            margin-bottom: -5%;
        }
        @media screen and (max-width: $layout-breakpoints-xsm) {
            .footer-avis {
                margin: 35px 0px 35px 0px !important;
            }
            .carousel-control-next, 
            .carousel-control-prev {
                color: $blue-two !important;
            }
        }
    }
}

// FORMULES

.formules {
    .price {
        padding: 80px 0 80px 0px;
        .card {
            padding: 30px;
            cursor: pointer;
            transition: 0.5s;
            .card-header {
                padding-bottom: 20px;
                background-color: transparent;
                a {
                    @extend %a-card;
                }
            }
            h5 {
                @extend %title-card;
                text-align: center
            }
            h6 {
                text-align: center;
                margin-top: 30px;
                @extend %price;
            }
            nav {
                ul {
                    li {
                        text-align: center;
                        a {
                            @extend %a-price;
                        }
                    }
                }
            }
            &:hover {
                transform: scale(1.05);
                box-shadow: 15px 15px 10px rgb(0, 0, 0, 0.3);
            }
            .card-footer {
                padding-top: 20px;
                background-color: transparent;   
                .btn-one {
                    @extend %button-one;
                }
                .btn-two {
                    @extend %button-two;
                }
            }
            @media screen and (max-width: $layout-breakpoints-sm) {
                h5 {
                    font-size: 11px;
                }
            }
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 50px 0px 50px 0px;
        }
    }
}

// SERVICES

.m-service {
    .banner-service {
        height: auto;
        background-size: cover;
        padding: 150px 0px 150px 0px;
        background-repeat: no-repeat;
        background-image: url("../image/services/details/banner.png");
        .content {
            padding: 84px;
            margin: 30% 0% 9% -45%;
            background-color: #FFFFFF;
            h1 {
                @extend %title-dark;
                margin-bottom: 35px;
            }
            p {
                @extend %text-dark;
                margin-bottom: 35px;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .banner-service {
            .content {
                margin: 26% 0% 14% 0% !important;
                padding: 30px 20px 4px 20px;
                h1 {
                    font-size: 21px !important;
                    text-align: center !important;
                    line-height: 35px !important;
                    margin-bottom: 20px !important;
                }
            }
        }
    }
    .ban {
        padding: 80px 0 80px 0px;
        background-color: #628090;
        .text {
            h2 {
                @extend %title-light;
                margin-bottom: 35px;
            }
            p {
                @extend %text-light;
                margin-bottom: 35px;
            }
        }
    }
    .numero1,
    .numero3 {
        padding: 80px 0px 80px 0px;
        background-color: $black-one;
        .content {
            .text {
                h3,
                h5 {
                    @extend %title-light;
                    margin-bottom: 35px;
                }
                p {
                    @extend %text-light;
                    margin-bottom: 35px;
                }
            }
        }
        img {
            width: 100%;
        }
    }
    .numero2,
    .numero4 {
        padding: 80px 0px 80px 0px;
        img {
            width: 100%;
        }
        .text {
            h4 {
                @extend %title-dark;
                margin-bottom: 35px;
            }
            p {
                @extend %text-dark;
                margin-bottom: 35px;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .ban {
            padding: 0px 0px 30px 0px !important;
            h2 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 20px !important;
            }
        }
        .numero1,
        .numero3 {
            padding: 30px 0px 50px 0px !important;
            h3,
            h5 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 20px !important;
            }
        }
        .numero2,
        .numero4 {
            padding: 30px 0px 50px 0px !important;
            h4 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-top: 20px !important;
                margin-bottom: 20px !important;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .banner-service {
            padding: 10px 0px 10px 0px;
            .content {
                margin: 26% 0% 30% 0%;
            }
        }
        .ban {
            padding: 50px 0px 50px 0px;
        }
    }
}

// ÉTRANGER

.etranger {
    .etranger-ban {
        height: auto;
        background-size: cover;
        padding: 80px 0px 80px 0px;
        background-repeat: no-repeat;
        background-image: url("../image/etranger/section.png");
        .content {
            padding: 84px;
            margin: 30% 0% 9% -45%;
            background-color: #FFFFFF;
            h1 {
                @extend %title-dark;
                margin-bottom: 35px;
                line-height: 45px;
            }
            p {
                @extend %text-dark;
                margin-bottom: 35px;
            }
            .btn-two {
                @extend %button-two;
            }
        }
    }
    .e-intro {
        padding: 80px 0px 80px 0px;
        background-color: $black-one;
        .text {
            h2 {
                @extend %title-light;
                margin-bottom: 35px;
            }
            p {
                @extend %text-light;
                margin-bottom: 35px;
            }
        }
    }
    .part-1,
    .part-3,
    .part-5 {
        padding: 80px 0px 80px 0px;
        .text {
            h3 {
                @extend %title-dark;
                margin-bottom: 35px;
            }
            p {
                @extend %text-dark;
                margin-bottom: 35px;
            }
        }
        img {
            width: 100%;
        }
    }
    .part-2,
    .part-4 {
        padding: 80px 0px 80px 0px;
        background-color: $black-one;
        .text {
            h4 {
                @extend %title-light;
                margin-bottom: 35px;
            }
            p {
                @extend %text-light;
                margin-bottom: 35px;
            }
        }
        img {
            width: 100%;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .etranger-ban {
            .content {
                margin: 26% 0% 14% 0% !important;
                padding: 30px 20px 30px 20px;
                h1 {
                    font-size: 21px !important;
                    text-align: center !important;
                    line-height: 35px !important;
                    margin-bottom: 20px !important;
                }
            }
        }
        .e-intro {
            padding: 30px 0px 30px 0px !important;
            h2 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 45px !important;
            }
        }
        .part-1,
        .part-2,
        .part-3,
        .part-4,
        .part-5 {
            padding: 50px 0px 50px 0px;
            h3,
            h4 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 20px !important;
            }
        }
        .part-2,
        .part-4 {
            h4 {
                margin-top: 25px;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .etranger-ban {
            padding: 10px 0px 10px 0px;
            .content {
                margin: 26% 0% 30% 0%;
            }
        }
        .e-intro {
            padding: 50px 0px 50px 0px;
        }
    }
}

// VILLAS 

.villas {
    .banner-villa {
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../image/presta/villas.png");
        .content {
            padding: 120px 60px 120px 0px;
            .text {
                h1 {
                    @extend %title-light;
                    margin-bottom: 30px;
                }
                p {
                    @extend %text-light;
                }
            }
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            .content {
                padding: 80px 0px 80px 0px !important;
                h1 {
                    font-size: 21px !important;
                    text-align: center !important;
                    line-height: 35px !important;
                    margin-bottom: 20px !important;
                }
            }
        }
        @media screen and (max-width: $layout-breakpoints-sm) {
            .content {
                padding: 120px 0px 120px 0px;
            }
        }
    }
    .presta-villa {
        padding: 80px 0px 80px 0px;
        h2 {
            @extend %title-dark;
            margin-bottom: 30px;
        }
        img {
            margin: 30px 0px 30px 0px;
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 50px 0px 50px 0px;
            h2 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 20px !important;
            }
        }
    }
}

// BUREAUX

.bureaux {
    .banner-bureaux {
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 120px 0px 120px 0px;
        background-image: url("../image/presta/bureaux.png");
        .content {
            padding: 80px;
            background-color: $bg-dark;
            h1 {
                @extend %title-light;
                margin-bottom: 35px;
            }
            p {
                @extend %text-light;
            }
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 80px 0px 80px 0px;
            .content {
                padding: 40px 25px 40px 25px;
                h1 {
                    font-size: 21px !important;
                    text-align: center !important;
                    line-height: 35px !important;
                    margin-bottom: 20px !important;
                }
            }
        }
    }
    .presta-bureau {
        padding: 80px 0px 80px 0px;
        h2 {
            @extend %title-dark;
            margin-bottom: 30px;
        }
        img {
            margin: 30px 0px 30px 0px;
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 50px 0px 50px 0px;
            h2 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 20px !important;
            }
        }
    }
}

// APPPARTEMENTS

.appartements {
    .banner-appart {
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../image/presta/appartements.png");
        .content {
            padding: 120px 60px 120px 0px;
            .text {
                h1 {
                    @extend %title-light;
                    margin-bottom: 30px;
                }
                p {
                    @extend %text-light;
                }
            }
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            #content {
                padding: 50px 0px 50px 0px !important;
                h1 {
                    font-size: 21px !important;
                    text-align: center !important;
                    line-height: 35px !important;
                    margin-bottom: 20px !important;
                }
            }
        }
        @media screen and (max-width: $layout-breakpoints-xs) {
            .content {
                padding: 120px 40px 120px 0px !important;
            }
        }
        @media screen and (max-width: $layout-breakpoints-sm) {
            .content {
                padding: 120px 0px 120px 0px;
            }
        }
    }
    .presta-appart {
        padding: 80px 0px 80px 0px;
        h2 {
            @extend %title-dark;
            margin-bottom: 30px;
        }
        img {
            margin: 30px 0px 30px 0px;
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 50px 0px 50px 0px;
            h2 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 20px !important;
            }
        }
    }
}

// PRESTATIONS

.prestations {
    .banner-presta {
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 120px 0px 120px 0px;
        background-image: url("../image/presta/prestations.png");
        .content {
            padding: 80px;
            background-color: $bg-dark;
            h1 {
                @extend %title-light;
                margin-bottom: 35px;
            }
            p {
                @extend %text-light;
            }
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 80px 0px 80px 0px;
            .content {
                padding: 40px 25px 40px 25px;
                h1 {
                    font-size: 21px !important;
                    text-align: center !important;
                    line-height: 35px !important;
                    margin-bottom: 20px !important;
                }
            }
        }
    }
    .premiere {
        padding: 80px 0px 120px 0px;
        h2 {
            @extend %title-dark;
            margin-bottom: 30px;
        }
        .carousel-indicators [data-bs-target] {
            background-color: $blue-two !important;
        }
        .carousel-indicators {
            margin-bottom: -4%;
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 50px 0px 80px 0px;
            h2 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 20px !important;
            }
        }
    }
    .second {
        padding: 80px 0px 120px 0px;
        background-color: $black-one;
        h3 {
            @extend %title-light;
            margin-bottom: 30px;
        }
        .carousel-indicators [data-bs-target] {
            background-color: $blue-two !important;
        }
        .carousel-indicators {
            margin-bottom: -4%;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .slide {
            img {
                margin-bottom: 30px;
            }
        }
    }
    .troisieme {
        padding: 80px 0px 120px 0px;
        h4 {
            @extend %title-dark;
            margin-bottom: 30px;
        }
        .carousel-indicators [data-bs-target] {
            background-color: $blue-two !important;
        }
        .carousel-indicators {
            margin-bottom: -4%;
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 50px 0px 80px 0px;
            h4 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 20px !important;
            }
        }
    }
}

// FAQ

.faq {
    .intro-faq {
        padding: 80px 0px 80px 0px;
        background-color: $black-one;
        h1 {
            @extend %title-light;
        }
        @media screen and (max-width: $layout-breakpoints-xxs) {
            h1 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 20px !important;
            }
        }
    }
    .part-f {
        padding: 80px 0px 80px 0px;
        .accordion-item {
            border: 0.5px solid $blue-two;
            .accordion-header {
                @extend %title-dark;
                .accordion-button:not(.collapsed) {
                    color: $blue-one;
                    background-color: $blue-two;
                }
                .accordion-button:not(.collapsed)::after {
                    content: "↓";
                    font-size: 15px;
                    background-image: none !important;
                }
            }
            .accordion-body {
                @extend %text-dark;
            }
        }
    }  
}

// POLITIQUE

.politique {
    .contenu {
        padding: 80px 0px 80px 0px;
    }
    .intro {
        padding: 80px 0px 80px 0px;
        background-color: $black-one;
        h1 {
            @extend %title-light;
        }  
        @media screen and (max-width: $layout-breakpoints-xxs) {
            padding: 50px 0px 50px 0px;
            h1 {
                font-size: 21px !important;
                text-align: center !important;
                line-height: 35px !important;
                margin-bottom: 20px !important;
            }
        }
    }
    h1,
    h2,
    h3,
    h4 {
        @extend %title-dark;
        margin-bottom: 35px;
    }
    p {
        @extend %text-dark;
        margin-bottom: 35px;
    }
}