h1,
h2,
h3 {
    font-size: 25px;
    color: $white-one;
    font-weight: 600;
    padding-left: 15px;
    letter-spacing: 4px;
    line-height: 45px;
    text-transform: uppercase;
    border-left: 3px solid $blue-one;
    font-family: $title;
    @media screen and (max-width: $layout-breakpoints-xxs) {
        font-size: 20px !important;
    }
}
.text-light {
    @extend %text-light;
}
.text-dark {
    @extend %text-dark;
}

.intro {
    padding: 75px 0px 75px 0px;
    .content {
        padding: 45px;
        margin: 120px 0px 120px 0px;
        background-color: #090808a6;
        .text {
            h1 {
                margin-bottom: 25px;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .content {
            margin: 60px 0px 60px 0px;
            padding: 45px 25px 45px 25px;
        }
    }
}
.services {
    background-color: $black;
    padding: 75px 0px 75px 0px;
}
.number-section {
    background-color: white;
    padding: 75px 0px 75px 0px;
    .content-numb {
        padding: 20px;
        .icon {
            text-align: center;
            margin-bottom: 15px;
            img {
                width: 95px;
            }
        }
        .number {
            text-align: center;
            span {
                font-size: 45px;
                font-style: italic;
                color: $black;
                font-family: $text;
            }
        }
        .title-num {
            text-align: center;
            margin: 15px 0px 0px 0px;
            h6 {
                font-size: 14px;
                font-weight: 600;
                line-height: 25px;
                color: $blue-one;
                text-transform: uppercase;
                font-family: $title;
            }
        }
    }
}
.about {
    background-color: $black;
    padding: 75px 0px 75px 0px;
    .content {
        padding: 80px 40px 80px 0px;
        h2 {
            margin-bottom: 25px;
        }
        p {
            margin: 25px 0px 25px 0px;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .img {
            width: 368px !important;
            margin-left: -20.5% !important;
            margin-top: 25px !important;
        }
        #content {
           padding: 0px !important;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .content {
            padding: 38px 64px 38px 0px !important;
        }
        img {
            margin-left: -59% !important;
        }
    }
    @media screen and (max-width: $layout-breakpoints-sm) {
        .content {
            padding: 80px 0px 80px 0px;
        }
        img {
            width: 569px;
            height: auto;
            margin-left: -69px;
        }
    }
}
.testimonials {
    background-color: white;
    padding: 75px 0px 75px 0px;
    h3 {
        color: $black !important;
        margin: 0px 0px 45px 0px;
    }
    .content-testi {
        .item-content {
            .icon {
                font-size: 60px;
                font-weight: 800;
                color: $blue-two;
            }
            .text-content {
                font-size: 17px;
                color: $black;
                font-weight: 300;
                text-align: justify;
                text-decoration: none;
                font-family: $text;
            }
        }
    }
    .footer-testi {
        margin: 35px 0px 35px 20%;
        img {
            float: left;
            margin-left: 15%;
            border-radius: 10px;
            padding-right: 35px;
        }
        h5 {
            @extend %title-one-testi;
        }
        h6 {
            @extend %tilte-two-testi;
        }
        .footer-content {
            padding-top: 25px;
        }
    }
    .carousel-indicators {
        margin-bottom: -7%;
        padding-bottom: 50px;
    }
    .carousel-indicators [data-bs-target] {
        background-color: $black !important;
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .carousel-indicators {
            margin-bottom: -15%;
            padding-bottom: 50px;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        padding: 50px 0px 80px 0px;
        img {
            margin-left: -23% !important;
            padding-right: 15px !important;
        }
        h5,
        h6 {
            line-height: 19px;
        }
        .footer-content {
            padding-top: 10px !important;
        }
        .carousel-indicators {
            margin-bottom: -26% !important;
        }
    }
}
.prestations {
    background-color: $black;
    padding: 75px 0px 75px 0px;
    img {
        width: 100%;
    }
    .content {
        padding: 80px 0 80px 0px;
        h3 {
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 25px;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .content {
            padding: 30px 0px 30px 0px !important;
        }
    } 
    @media screen and (max-width: $layout-breakpoints-sm) {
        .content {
            padding: 0px 0px 0px 28px;
        }
    } 
}
.newsletter {
    background-color: white;
    padding: 75px 0px 75px 0px;
    h2 {
        color: $black;
        margin-bottom: 45px;
    }
    input {
        @extend %input-news;
        margin: 15px 0px 15px 0px;
    }
    p {
        margin-bottom: 25px;
    }
    .btn-news {
        margin-top: 15px;
        @extend %btn-news;
    }
}
.devis {
    background-color: $black;
    padding: 75px 0px 75px 0px;
    .image {
        border: 1px solid $blue-two;
        padding: 80px;
        img {
            width: 100%;
        }
    }
    .content {
        padding: 50px 0px 50px 60px;
        p {
            margin: 25px 0px 25px 0px;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        .image {
            padding: 30px !important;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .image {
            margin-bottom: 45px;
        }
        .content {
            padding: 0px !important;
        }
    }
    @media screen and (max-width: $layout-breakpoints-sm) {
        .content {
            padding: 0px 0px 50px 28px;
        }
    } 
}