.slide-sec {
    .content {
        padding: 60px;
        width: 40%;
        background-color: $bg-dark;
        h5 {
            @extend %title-slide;
        }
        p {
            @extend %text-slide;
            margin-bottom: 35px;
        }
        .btn-two {
            @extend %button-two;
        }
    }
    @media screen and (max-width: $layout-breakpoints-xxs) {
        img {
            min-height: 500px;
        }
        .content {
            padding: 20px !important;
            h5 {
                font-size: 22px !important;
                line-height: 29px !important;
            }
        }
    }
    @media screen and (max-width: $layout-breakpoints-xsm) {
        .carousel-caption {
            right: 10%;
            left: 10%;
            .content {
                padding: 40px;
                h5,
                p {
                    margin-bottom: 10px;
                }
                .btn-two {
                    margin-top: 0px;
                }
            }
        } 
        img {
            min-height: 600px;
        }
    }
    @media screen and (max-width: $layout-breakpoints-sm) {
        .content {
            width: 100%;
        }
    }
}