//  COULEURS

$blue-one: #A6CDE1;
$blue-two: #7A95A4;
$white-one: #F4F1F1;
$white-two: #F4F4F4;
$black-one: #090808;
$black-two: #848484;
$bg-dark: #0908089a;
$bg-light: #eeeeee;

// TYPOGRAPHIE

$title: 'Alef', sans-serif;
$text: 'Anaheim', sans-serif;

// RESPONSIVE

$layout-breakpoints-xxs: 480px;
$layout-breakpoints-xs: 750px;
$layout-breakpoints-xsm: 780px;
$layout-breakpoints-sm: 1024px;
$layout-breakpoints-ss-m: 1440px;

// INFOS

%a-info {
    font-size: 15px;
    color: $white-two;
    text-decoration: none;
    font-family: $text;
}

// LOGO & NOM

%a-info-header {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $text;
}
%a-info-p {
    font-size: 13px;
    font-weight: 300;
    text-align: justify;
    font-family: $text;
}

// HEADER

%a-res {
    font-size: 13px;
    font-weight: 400;
    color: $white-one;
    text-decoration: none;
    font-family: $text;
}
%a-header {
    font-size: 14px;
    font-weight: 600;
    color: $white-one;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-family: $text;
}
%form-header {
    font-size: 14px;
    font-weight: 600;
    color: $white-one;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    border: 0.5px solid $black-two;
    background-color: transparent;
    font-family: $text;
}

// MODAL

%title-modal {
    font-size: 28px;
    font-weight: 500;
    color: $blue-one;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: $title;
}
%text-modal {
    font-size: 14px;
    font-weight: 400;
    color: $white-two;
    text-align: justify;
    text-decoration: none;
    font-family: $text;
}

// FORMULAIES

%input-f {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $white-two;
    background-color: $black-one;
    background-clip: padding-box;
    border: 1px solid $black-two;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
%input {
    font-size: 12px;
    font-weight: 400;
    color: $white-one;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    border: 0.5px solid $black-two;
    background-color: transparent;
    font-family: $text;
}
%label {
    font-size: 15px;
    color: $white-two;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: justify;
    font-family: $title;
}

// TITRE & TEXT

%title-light {
    font-size: 30px;
    color: $white-one;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: $title;
}
%text-light {
    font-size: 16px;
    color: $white-two;
    font-weight: 300;
    text-align: justify;
    text-decoration: none;
    font-family: $text;
}
%title-dark {
    font-size: 30px;
    color: $black-one;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: $title;
}
%text-dark {
    font-size: 16px;
    color: $black-two;
    font-weight: 300;
    text-align: justify;
    text-decoration: none;
    font-family: $text;
}

// BUTTONS

%button-one {
    border: none;
    font-size: 12px;
    padding: 15px;
    color: $white-two;
    border-radius: 0.2rem;
    letter-spacing: 2px;
    font-family: $title;
    background-color: $black-one;
    a {
        color: $white-one;
        text-decoration: none;
        i {
            color: $blue-one;
        }
    }
    &:hover {
        background-color: $blue-one;
        a {
            color: $blue-two;
            i {
                color: $blue-two;
            }
        }
    }
}
%button-two {
    border: none;
    font-size: 12px;
    padding: 15px;
    width: 100%;
    color: $black-one;
    border-radius: 0.2rem;
    letter-spacing: 2px;
    font-family: $title;
    background-color: $blue-one;
}

// FOOTER

%a-footer {
    font-size: 13.2px;
    color: $white-two;
    text-align: justify;
    text-decoration: none;
    font-family: $text;
    &:hover {
        color: $white-two;
    }
    i {
        color: $white-two;
    }
}
%a-copyright {
    font-size: 12px;
    color: $blue-one;
    margin-left: 15px;
    text-align: justify;
    text-decoration: none;
    font-family: $text;
}
%title-footer {
    font-size: 15px;
    color: $white-one;
    font-weight: 600;
    padding-left: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-left: 3px solid $blue-one;
    font-family: $title;
}
%text-footer {
    font-size: 13px;
    font-weight: 300;
    text-align: justify;
    color: $white-two;
    font-family: $text;
    i {
        margin-right: 10px;
    }
}

// SLIDE

%title-slide {
    font-size: 25px;
    color: $white-one;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: $title;
}
%text-slide {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    color: $white-two;
    font-family: $text;
}

// TESTIMONIALS

%title-one-testi {
    font-size: 13px;
    color: $blue-two;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: $title;
}
%tilte-two-testi {
    font-size: 11px;
    color: $white-one;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: $title;
}

// CARDS LIGHT

%title-card {
    font-size: 22px;
    color: $black-one;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: $title;
}
%text-card {
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    color: $black-two;
    font-family: $text;
}
%a-card {
    font-size: 16px;
    color: $black-two;
    font-weight: 300;
    text-align: justify;
    text-decoration: none;
    font-family: $text;
    i {
        color: $blue-two;
    }
}
%price {
    font-size: 30px;
    color: $blue-two;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: $title;
}
%a-price {
    font-size: 16px;
    color: $black-two;
    font-weight: 300;
    text-decoration: none;
    font-family: $text;
    i {
        color: $blue-two;
    }
    .cross {
        color: $black-two;
    }
}

// CARDS DARK

%title-dark-card {
    font-size: 22px;
    font-weight: 600;
    color: $white-one;
    letter-spacing: 4px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: $title;
}
%text-dark-card {
    font-size: 15.6px;
    font-weight: 300;
    text-align: justify;
    color: $white-two;
    font-family: $text;
}
%job-card {
    font-size: 14px;
    font-weight: 500;
    color: $blue-one;
    letter-spacing: 2px; 
    text-transform: uppercase;
    font-family: $title;
}
%a-dark-card {
    font-size: 14px;
    color: $blue-two;
    font-weight: 300;
    text-align: justify;
    text-decoration: none;
    font-family: $text;
    i {
        color: $blue-two;
    }
}