* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ALL

@import "variables.scss";

// LAYOUT 

@import "header.scss";
@import "footer.scss";

// MODAL

@import "modal.scss";

// SLIDE

@import "slide.scss";

// CARDS

@import "card.scss";

// PAGES 

@import "index.scss";
@import "pages.scss";

// PROJETS

@import "projets.scss";

// ANIMATIONS

@import "animations.scss";