@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info-header .content ul li .name {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Anaheim", sans-serif;
}

.info-header .content ul li .tel,
.info-header .content ul li .mail,
.info-header .content ul li .jour,
.info-header .content ul li .horaires {
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
  font-family: "Anaheim", sans-serif;
}

.navigation .navbar-dark .navbar-nav .dropdown-menu.show li .dropdown-item, .navigation .navbar-dark .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #F4F1F1;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: "Anaheim", sans-serif;
}

.modal .modal-content .modal-header h5 {
  font-size: 28px;
  font-weight: 500;
  color: #A6CDE1;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Alef", sans-serif;
}

.modal .modal-content .modal-body .mdp a, .modal .modal-content .modal-body .checkbox label, .modal .modal-content .modal-body p {
  font-size: 14px;
  font-weight: 400;
  color: #F4F4F4;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}

.contact-m .formulaire-contact form select,
.contact-m .formulaire-contact form textarea,
.contact-m .formulaire-contact form input[type=text],
.contact-m .formulaire-contact form input[type=email],
.contact-m .formulaire-contact form input[type=date],
.contact-m .formulaire-contact form input[type=tel], .devis-m .formulaire-devis form select,
.devis-m .formulaire-devis form textarea,
.devis-m .formulaire-devis form input[type=text],
.devis-m .formulaire-devis form input[type=email],
.devis-m .formulaire-devis form input[type=date],
.devis-m .formulaire-devis form input[type=tel],
.devis-m .formulaire-devis form input[type=number], .news form input[type=email], .modal .modal-content .modal-body input[type=text],
.modal .modal-content .modal-body input[type=password] {
  font-size: 12px;
  font-weight: 400;
  color: #F4F1F1;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  border: 0.5px solid #848484;
  background-color: transparent;
  font-family: "Anaheim", sans-serif;
}

.contact-m .formulaire-contact label, .devis-m .formulaire-devis label, .modal .modal-content .modal-body label {
  font-size: 15px;
  color: #F4F4F4;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: justify;
  font-family: "Alef", sans-serif;
}

.politique .intro h1, .faq .intro-faq h1, .prestations .second h3, .prestations .banner-presta .content h1, .appartements .banner-appart .content .text h1, .bureaux .banner-bureaux .content h1, .villas .banner-villa .content .text h1, .etranger .part-2 .text h4,
.etranger .part-4 .text h4, .etranger .e-intro .text h2, .m-service .numero1 .content .text h3,
.m-service .numero1 .content .text h5,
.m-service .numero3 .content .text h3,
.m-service .numero3 .content .text h5, .m-service .ban .text h2, .avis .banner-avis .content h1, .equipe .team h2, .equipe .fondatrice .content .text h1, .histoire .hist-part-4 .content .text h2, .histoire .hist-part-2 .content .text h2, .news h6, .testimonials h3 {
  font-size: 30px;
  color: #F4F1F1;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.prestations .banner-presta .content p, .appartements .banner-appart .content .text p, .bureaux .banner-bureaux .content p, .villas .banner-villa .content .text p, .etranger .part-2 .text p,
.etranger .part-4 .text p, .etranger .e-intro .text p, .m-service .numero1 .content .text p,
.m-service .numero3 .content .text p, .m-service .ban .text p, .avis .banner-avis .content p, .equipe .fondatrice .content .text p, .histoire .hist-part-4 .content .text p, .histoire .hist-part-2 .content .text p, .news p {
  font-size: 16px;
  color: #F4F4F4;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}

.politique h1,
.politique h2,
.politique h3,
.politique h4, .faq .part-f .accordion-item .accordion-header, .prestations .troisieme h4, .prestations .premiere h2, .appartements .presta-appart h2, .bureaux .presta-bureau h2, .villas .presta-villa h2, .etranger .part-1 .text h3,
.etranger .part-3 .text h3,
.etranger .part-5 .text h3, .etranger .etranger-ban .content h1, .m-service .numero2 .text h4,
.m-service .numero4 .text h4, .m-service .banner-service .content h1, .histoire .hist-part-3 h3, .histoire .hist-part-1 .content h1, .contact-m .banner-contact .content .text h1, .devis-m .banner-devis .content .text h1, .devis-pres .content h5, .pres-prestas .content h4, .about .content h2 {
  font-size: 30px;
  color: #090808;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.politique p, .faq .part-f .accordion-item .accordion-body, .etranger .part-1 .text p,
.etranger .part-3 .text p,
.etranger .part-5 .text p, .etranger .etranger-ban .content p, .m-service .numero2 .text p,
.m-service .numero4 .text p, .m-service .banner-service .content p, .histoire .hist-part-3 p, .histoire .hist-part-1 .content p, .devis-pres .content p, .pres-prestas .content p, .about .content p {
  font-size: 16px;
  color: #848484;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}

.formules .price .card .card-footer .btn-one, main section .btn-one, .info-header .content ul .btn {
  border: none;
  font-size: 12px;
  padding: 15px;
  color: #F4F4F4;
  border-radius: 0.2rem;
  letter-spacing: 2px;
  font-family: "Alef", sans-serif;
  background-color: #090808;
}
.formules .price .card .card-footer .btn-one a, main section .btn-one a, .info-header .content ul .btn a {
  color: #F4F1F1;
  text-decoration: none;
}
.formules .price .card .card-footer .btn-one a i, main section .btn-one a i, .info-header .content ul .btn a i {
  color: #A6CDE1;
}
.formules .price .card .card-footer .btn-one:hover, main section .btn-one:hover, .info-header .content ul .btn:hover {
  background-color: #A6CDE1;
}
.formules .price .card .card-footer .btn-one:hover a, main section .btn-one:hover a, .info-header .content ul .btn:hover a {
  color: #7A95A4;
}
.formules .price .card .card-footer .btn-one:hover a i, main section .btn-one:hover a i, .info-header .content ul .btn:hover a i {
  color: #7A95A4;
}

.etranger .etranger-ban .content .btn-two, .formules .price .card .card-footer .btn-two, .histoire .hist-part-4 .content .text .btn-two, .histoire .hist-part-3 .btn-two, .histoire .hist-part-2 .content .text .btn-two, .contact-m .formulaire-contact button, .devis-m .formulaire-devis button, .devis-pres .content .btn-two, .news form .btn-two, .pres-prestas .content .btn-a .btn-two, .about .content .btn-two, .slide-sec .content .btn-two, .modal .modal-content .modal-body .btn-two {
  border: none;
  font-size: 12px;
  padding: 15px;
  width: 100%;
  color: #090808;
  border-radius: 0.2rem;
  letter-spacing: 2px;
  font-family: "Alef", sans-serif;
  background-color: #A6CDE1;
}

footer .links-aide a {
  font-size: 13.2px;
  color: #F4F4F4;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
footer .links-aide a:hover {
  color: #F4F4F4;
}
footer .links-aide a i {
  color: #F4F4F4;
}

footer .copy .links a {
  font-size: 12px;
  color: #A6CDE1;
  margin-left: 15px;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}

footer h3,
footer h4,
footer h5 {
  font-size: 15px;
  color: #F4F1F1;
  font-weight: 600;
  padding-left: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-left: 3px solid #A6CDE1;
  font-family: "Alef", sans-serif;
}

footer p {
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
  color: #F4F4F4;
  font-family: "Anaheim", sans-serif;
}
footer p i {
  margin-right: 10px;
}

.slide-sec .content h5 {
  font-size: 25px;
  color: #F4F1F1;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.slide-sec .content p {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  color: #F4F4F4;
  font-family: "Anaheim", sans-serif;
}

.avis .avis-slide .content-avis .footer-avis .footer-content h5, .testimonials .footer-testi h5 {
  font-size: 13px;
  color: #7A95A4;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.avis .avis-slide .content-avis .footer-avis .footer-content h6, .testimonials .footer-testi h6 {
  font-size: 11px;
  color: #F4F1F1;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: "Alef", sans-serif;
}

.formules .price .card h5, .card-services .card h5 {
  font-size: 22px;
  color: #090808;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.card-services .card p {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  color: #848484;
  font-family: "Anaheim", sans-serif;
}

.formules .price .card .card-header a, .card-services .card .card-header a {
  font-size: 16px;
  color: #848484;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
.formules .price .card .card-header a i, .card-services .card .card-header a i {
  color: #7A95A4;
}

.formules .price .card h6 {
  font-size: 30px;
  color: #7A95A4;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.formules .price .card nav ul li a {
  font-size: 16px;
  color: #848484;
  font-weight: 300;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
.formules .price .card nav ul li a i {
  color: #7A95A4;
}
.formules .price .card nav ul li a .cross {
  color: #848484;
}

.equipe .team .card h3,
.equipe .team .card h5 {
  font-size: 22px;
  font-weight: 600;
  color: #F4F1F1;
  letter-spacing: 4px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.equipe .team .card .card-body p {
  font-size: 15.6px;
  font-weight: 300;
  text-align: justify;
  color: #F4F4F4;
  font-family: "Anaheim", sans-serif;
}

.equipe .team .card .card-body .job {
  font-size: 14px;
  font-weight: 500;
  color: #A6CDE1;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.equipe .team .card .card-footer a {
  font-size: 14px;
  color: #7A95A4;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
.equipe .team .card .card-footer a i {
  color: #7A95A4;
}

.info-header {
  margin-top: 45px;
}
.info-header .content .logo img {
  width: 120px;
}
@media screen and (max-width: 780px) {
  .info-header .content .logo {
    text-align: center;
  }
  .info-header .content .logo img {
    margin-bottom: -20px;
  }
}
@media screen and (max-width: 480px) {
  .info-header .content .mb-5 {
    margin-bottom: 1rem !important;
  }
}
.info-header .content ul li {
  float: left;
  position: relative;
  padding-right: 24px;
  margin: 37px 20px 37px 0px;
  border-right: 1px solid #aaaaaa;
}
.info-header .content ul li:last-child {
  padding-right: 0px;
  border-right: none;
}
.info-header .content .info-right {
  text-align: end;
}
@media screen and (max-width: 750px) {
  .info-header .content .info-right {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .info-header .content .info-right ul {
    margin-top: -6%;
    margin-left: -2% !important;
  }
  .info-header .content .info-right ul .n {
    display: none;
  }
  .info-header .content .info-right ul li {
    margin: 37px 12px 37px 7px;
  }
}
@media screen and (max-width: 1024px) {
  .info-header .content .info-right ul {
    margin-left: -25%;
  }
}

.bg-dark {
  background-color: #090808 !important;
}

.navigation .navbar-dark .navbar-nav .nav-link.active {
  color: #A6CDE1;
}
.navigation .navbar-dark .navbar-nav .dropdown-menu.show {
  border: none !important;
  background-color: #090808;
}
.navigation .navbar-dark .navbar-nav .dropdown-menu.show li hr {
  color: #F4F1F1;
}
.navigation .navbar-dark .navbar-nav .dropdown-menu.show li .dropdown-item {
  font-size: 11px !important;
}
.navigation .navbar-dark .navbar-nav .dropdown-menu.show li .dropdown-item:hover {
  color: #090808;
  background-color: transparent;
}
.navigation .navbar-dark .navbar-nav .dropdown-menu.show li:hover {
  color: #090808;
  background-color: #A6CDE1;
}
@media screen and (max-width: 780px) {
  .navigation .navbar-dark .navbar-toggler {
    color: #F4F1F1 !important;
    border-color: #F4F1F1 !important;
  }
  .navigation .navbar-dark .navbar-toggler .icon-nav i {
    color: #7A95A4;
  }
}

footer {
  padding-bottom: 80px;
}
footer h3,
footer h4,
footer h5 {
  margin-bottom: 25px;
}
footer h6 {
  font-size: 12px;
  color: #F4F4F4;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
footer p .text-right {
  float: right;
  color: #A6CDE1;
}
footer .res {
  color: #A6CDE1;
}
@media screen and (max-width: 780px) {
  footer .res {
    margin: 15px 15px 0px 0px;
  }
}
footer .copy {
  margin-top: 35px;
  padding-top: 25px;
  border-top: 0.5px solid #848484;
}
@media screen and (max-width: 480px) {
  footer .copy .links a {
    margin: 15px 15px 0px 0px;
  }
}
@media screen and (max-width: 1024px) {
  footer .copy .links {
    margin-top: -8px;
  }
}
@media screen and (max-width: 480px) {
  footer h4 {
    margin-top: 10px;
  }
  footer h5 {
    margin-top: 15px;
  }
  footer h6 {
    line-height: 22px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 780px) {
  footer .text-1 {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1024px) {
  footer {
    padding-bottom: 40px;
  }
}

.modal {
  border: none !important;
}
.modal .modal-content {
  padding: 15px;
  background-color: #090808;
}
.modal .modal-content .modal-header {
  border: none !important;
}
.modal .modal-content .modal-header .button-close {
  width: 1em;
  height: 1em;
  border: none;
  padding: 0.25em 0.25em;
  box-sizing: content-box;
}
.modal .modal-content .modal-header .button-close i {
  font-size: 15px;
  color: #F4F1F1 !important;
}
.modal .modal-content .modal-body input::placeholder {
  font-size: 13px;
  color: #F4F1F1;
}
.modal .modal-content .modal-body .checkbox label {
  font-size: 12px;
}
.modal .modal-content .modal-body .mdp a {
  color: #F4F4F4;
  text-decoration: none;
}
.modal .modal-content .modal-body .mdp a i {
  font-size: 12px;
}
.modal .modal-content .modal-body .btn-two {
  width: 100%;
  margin-bottom: 15px;
}

.slide-sec .content {
  padding: 60px;
  width: 40%;
  background-color: #0908089a;
}
.slide-sec .content p {
  margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .slide-sec img {
    min-height: 500px;
  }
  .slide-sec .content {
    padding: 20px !important;
  }
  .slide-sec .content h5 {
    font-size: 22px !important;
    line-height: 29px !important;
  }
}
@media screen and (max-width: 780px) {
  .slide-sec .carousel-caption {
    right: 10%;
    left: 10%;
  }
  .slide-sec .carousel-caption .content {
    padding: 40px;
  }
  .slide-sec .carousel-caption .content h5,
.slide-sec .carousel-caption .content p {
    margin-bottom: 10px;
  }
  .slide-sec .carousel-caption .content .btn-two {
    margin-top: 0px;
  }
  .slide-sec img {
    min-height: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .slide-sec .content {
    width: 100%;
  }
}

.card-services {
  padding: 50px 0px 80px 0px;
}
.card-services .card {
  padding: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.card-services .card .card-header {
  padding-bottom: 20px;
  background-color: transparent;
}
.card-services .card .card-body {
  padding: 20px 0px 20px 0px;
}
.card-services .card img {
  height: 150px;
  width: 100%;
}
.card-services .card:hover {
  transform: scale(1.05);
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 480px) {
  .card-services {
    padding: 0px 0px 50px 0px;
  }
  .card-services .card-img-top {
    height: auto !important;
  }
  .card-services #card {
    padding: 27px !important;
  }
  .card-services h5 {
    font-size: 18px !important;
    text-align: center !important;
  }
}
@media screen and (max-width: 750px) {
  .card-services img {
    height: 300px !important;
  }
}
@media screen and (max-width: 780px) {
  .card-services .card {
    padding: 40px !important;
  }
}
@media screen and (max-width: 1024px) {
  .card-services .card {
    padding: 18px;
  }
}

.number-sec {
  padding: 80px 0px 80px 0px;
  background-color: #090808;
}
.number-sec .content-numb .icon {
  text-align: center;
  margin-bottom: 25px;
}
.number-sec .content-numb .icon img {
  width: 120px;
}
.number-sec .content-numb .number {
  text-align: center;
  margin: 0px 0px 25px 0px;
}
.number-sec .content-numb .number span {
  font-size: 45px;
  font-style: italic;
  color: #F4F1F1;
  font-family: "Anaheim", sans-serif;
}
.number-sec .content-numb .title-num {
  text-align: center;
}
.number-sec .content-numb .title-num h5,
.number-sec .content-numb .title-num h1 {
  font-size: 15.5px;
  font-weight: 600;
  line-height: 25px;
  color: #7A95A4;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}
@media screen and (max-width: 480px) {
  .number-sec {
    padding: 50px 0px 50px 0px;
  }
  .number-sec #icon-2 {
    margin-top: 56px;
  }
}
@media screen and (max-width: 780px) {
  .number-sec #icon-3,
.number-sec #icon-4 {
    margin-top: 56px;
  }
}

.about .content {
  padding: 80px 0px 80px 30px;
}
.about .content h2 {
  margin-bottom: 25px;
}
.about .content p {
  margin-bottom: 35px;
}
@media screen and (max-width: 780px) {
  .about .content {
    padding: 30px 0px 50px 0px !important;
  }
}
@media screen and (max-width: 1024px) {
  .about .content {
    padding: 60px 0px 0px 0px;
  }
  .about .content p {
    margin-bottom: 25px;
  }
}
.about img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .about img {
    height: 400px !important;
  }
  .about h2 {
    text-align: center !important;
  }
}
@media screen and (max-width: 1024px) {
  .about img {
    height: 550px;
  }
  .about br {
    display: none;
  }
}

.testimonials {
  padding: 120px 0px 120px 0px;
  background-color: #090808;
}
.testimonials h3 {
  margin-bottom: 35px;
}
.testimonials .content-testi .item-content .icon {
  font-size: 60px;
  font-weight: 800;
  color: #7A95A4;
}
.testimonials .content-testi .item-content .text-content {
  font-size: 17px;
  color: #F4F4F4;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
.testimonials .footer-testi {
  margin: 35px 0px 35px 20%;
}
.testimonials .footer-testi img {
  float: left;
  margin-left: 15%;
  border-radius: 10px;
  padding-right: 35px;
}
.testimonials .footer-testi .footer-content {
  padding-top: 25px;
}
.testimonials .carousel-indicators {
  margin-bottom: -5%;
  padding-bottom: 50px;
}
@media screen and (max-width: 780px) {
  .testimonials .carousel-indicators {
    margin-bottom: -15%;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .testimonials {
    padding: 50px 0px 80px 0px;
  }
  .testimonials img {
    margin-left: -23% !important;
    padding-right: 15px !important;
  }
  .testimonials h5,
.testimonials h6 {
    line-height: 19px;
  }
  .testimonials .footer-content {
    padding-top: 10px !important;
  }
  .testimonials h3 {
    text-align: center !important;
  }
  .testimonials .carousel-indicators {
    margin-bottom: -26% !important;
  }
}

.pres-prestas .content {
  padding: 120px 50px 120px 0px;
}
.pres-prestas .content h4 {
  margin-bottom: 25px;
}
.pres-prestas .content p {
  margin-bottom: 35px;
}
.pres-prestas .content .btn-a {
  color: #090808;
}
@media screen and (max-width: 480px) {
  .pres-prestas .content h4 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
  }
}
@media screen and (max-width: 780px) {
  .pres-prestas .content {
    padding: 70px 0px 70px 0px !important;
  }
}
@media screen and (max-width: 1024px) {
  .pres-prestas .content {
    padding: 50px 0px 0px 0px;
  }
  .pres-prestas .content p {
    margin-bottom: 25px;
  }
  .pres-prestas .content .br-second-1,
.pres-prestas .content .br-second-2 {
    display: none;
  }
}
.pres-prestas img {
  height: 800px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .pres-prestas {
    padding: 50px 0px 50px 0px !important;
  }
  .pres-prestas #content {
    padding: 50px 0px 50px 0px !important;
  }
  .pres-prestas img {
    height: 300px !important;
  }
}
@media screen and (max-width: 1024px) {
  .pres-prestas img {
    height: 640px;
  }
}

.news {
  padding: 80px 0px 80px 0px;
  background-color: #090808;
}
.news form {
  margin-top: 5%;
}
.news form input::placeholder {
  color: #848484;
}
.news form .btn-two {
  margin-top: 15px;
}
@media screen and (max-width: 780px) {
  .news form {
    margin-top: 0%;
  }
}
.news h6 {
  margin-bottom: 35px;
}
.news p {
  margin-bottom: 35px;
}

.devis-pres {
  padding: 80px 0px 80px 0px;
}
.devis-pres img {
  width: 100%;
}
.devis-pres .content {
  padding: 60px 0px 60px 0px;
}
.devis-pres .content h5 {
  margin-bottom: 35px;
}
.devis-pres .content p {
  margin-bottom: 35px;
}
@media screen and (max-width: 780px) {
  .devis-pres .content {
    padding: 50px 0px 50px 0px !important;
  }
}
@media screen and (max-width: 1024px) {
  .devis-pres .content {
    padding: 0px;
  }
  .devis-pres .content h5,
.devis-pres .content p {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .devis-pres {
    padding: 50px 0px 50px 0px !important;
  }
  .devis-pres #content {
    padding: 30px 0px 30px 0px !important;
  }
  .devis-pres #content h5 {
    text-align: center;
    font-size: 21px !important;
    line-height: 35px !important;
    margin-bottom: 15px !important;
  }
}

@media screen and (max-width: 480px) {
  main section h2,
main section h3,
main section h4 {
    font-size: 21px !important;
  }
  main section p {
    font-size: 14px !important;
  }
  main section .btn-two {
    width: 100%;
  }
}
.devis-m .banner-devis {
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/devis/devis.png");
}
.devis-m .banner-devis .content {
  margin: 35% 5% 5% 15%;
}
.devis-m .formulaire-devis {
  padding: 80px 0px 80px 0px;
  background-color: #090808;
}
.devis-m .formulaire-devis form input::placeholder,
.devis-m .formulaire-devis form textarea::placeholder {
  font-size: 12px;
  color: #F4F4F4;
}
.devis-m .formulaire-devis button {
  margin-top: 35px;
}
@media screen and (max-width: 480px) {
  .devis-m .banner-devis {
    min-height: 337px !important;
  }
}
@media screen and (max-width: 780px) {
  .devis-m .banner-devis .content {
    margin-top: 26% !important;
  }
}
@media screen and (max-width: 1024px) {
  .devis-m .div-devis {
    display: none;
  }
  .devis-m .banner-devis .content {
    padding: 15%;
    margin-top: 54%;
    background-color: #FFFFFF73;
  }
}

.contact-m .banner-contact {
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/contact/banner.png");
}
.contact-m .banner-contact .content {
  margin: 23.5% 5% 5% 15%;
}
.contact-m .formulaire-contact {
  padding: 80px 0px 80px 0px;
  background-color: #090808;
}
.contact-m .formulaire-contact form input::placeholder,
.contact-m .formulaire-contact form textarea::placeholder {
  font-size: 12px;
  color: #F4F4F4;
}
.contact-m .formulaire-contact button {
  margin-top: 35px;
}
@media screen and (max-width: 480px) {
  .contact-m .banner-contact {
    min-height: 337px !important;
  }
  .contact-m .banner-contact .content {
    padding: 10% 5% 10% 5% !important;
  }
}
@media screen and (max-width: 780px) {
  .contact-m .banner-contact .content {
    margin-top: 34% !important;
  }
}
@media screen and (max-width: 1024px) {
  .contact-m .banner-contact {
    background-position: top right;
  }
  .contact-m .banner-contact .content {
    padding: 15%;
    margin-top: 20%;
    background-color: #FFFFFF73;
  }
}

.histoire .hist-part-1 .content {
  padding: 80px 0px 80px 0px;
}
.histoire .hist-part-1 .content h1 {
  margin-bottom: 25px;
}
.histoire .hist-part-1 img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .histoire .hist-part-1 .content {
    padding: 30px 0px 50px 0px;
  }
  .histoire .hist-part-1 h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
  }
}
.histoire .hist-part-2 {
  background-size: cover;
  padding: 80px 0px 80px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../image/sommes/deuxieme-b.png");
}
.histoire .hist-part-2 .content {
  padding: 80px;
  background: #0908089a;
}
.histoire .hist-part-2 .content .text h2 {
  margin-bottom: 35px;
}
.histoire .hist-part-2 .content .text p {
  margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .histoire .hist-part-2 .content {
    padding: 15px;
  }
  .histoire .hist-part-2 .content .text h2 {
    margin-top: 35px;
    text-align: center;
    line-height: 35px;
  }
  .histoire .hist-part-2 .content .btn-two {
    margin-bottom: 35px;
  }
}
.histoire .hist-part-3 {
  padding: 80px 0px 80px 0px;
}
.histoire .hist-part-3 h3 {
  margin-bottom: 35px;
}
.histoire .hist-part-3 p {
  margin-bottom: 35px;
}
.histoire .hist-part-3 img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 480px) {
  .histoire .hist-part-3 {
    padding: 50px 0px 50px 0px;
  }
  .histoire .hist-part-3 h3 {
    font-size: 21px;
    text-align: center;
    line-height: 35px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 780px) {
  .histoire .hist-part-3 .content {
    margin-left: 0% !important;
  }
}
@media screen and (max-width: 1024px) {
  .histoire .hist-part-3 .content {
    padding: 0px;
    margin-left: -26%;
  }
}
.histoire .hist-part-4 {
  background-size: cover;
  padding: 80px 0px 80px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../image/sommes/quatrieme.png");
}
.histoire .hist-part-4 .content {
  padding: 80px;
  background: #0908089a;
}
.histoire .hist-part-4 .content .text h2 {
  margin-bottom: 35px;
}
.histoire .hist-part-4 .content .text p {
  margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .histoire .hist-part-4 .content {
    padding: 15px;
  }
  .histoire .hist-part-4 .content .text h2 {
    font-size: 21px;
    text-align: center;
    line-height: 35px;
  }
  .histoire .hist-part-4 .content .text .btn-two {
    margin-bottom: 35px;
  }
}

.equipe .fondatrice img {
  width: 800px;
  height: 800px;
}
.equipe .fondatrice .content {
  margin: 20% 0%;
  background-color: #0908089a;
}
.equipe .fondatrice .content .text {
  padding: 50px;
}
.equipe .fondatrice .content .text h1 {
  margin-bottom: 35px;
}
.equipe .team {
  padding: 80px 0px 80px 0px;
  background-color: #090808;
}
.equipe .team h2 {
  margin-bottom: 35px;
}
.equipe .team .card {
  border: none;
  background-color: transparent !important;
}
.equipe .team .card .card-body {
  padding: 25px 0px 25px 0px;
}
.equipe .team .card .card-body p {
  margin-top: 15px;
}
.equipe .team .card .card-footer {
  padding: 0px;
}
.equipe .team .card .card-footer a {
  margin-right: 15px;
}
.equipe .team #card {
  margin-top: 45px;
}
.equipe .team #card p {
  margin-bottom: -40px;
}
@media screen and (max-width: 750px) {
  .equipe #card p {
    margin-bottom: 0px !important;
  }
}
@media screen and (max-width: 480px) {
  .equipe .fondatrice img {
    height: 350px;
  }
  .equipe .fondatrice #content #text {
    padding: 35px 30px 0px 30px;
  }
  .equipe .fondatrice #content #text h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 780px) {
  .equipe .fondatrice img {
    width: 100%;
  }
  .equipe .fondatrice .content {
    margin: -36% 0% 0% 0% !important;
  }
}
@media screen and (max-width: 1024px) {
  .equipe .fondatrice .content {
    margin: 124% 0% 0% -74%;
  }
}

.avis .banner-avis {
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/avis/avis-banner.png");
}
.avis .banner-avis .content {
  padding: 50px;
  margin: 20% 0% 15% 0%;
  background-color: #0908089a;
}
.avis .banner-avis .content h1 {
  margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .avis .banner-avis .content h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-top: 25px !important;
  }
}
.avis .avis-slide {
  padding: 80px 0px 80px 0px;
}
.avis .avis-slide .content-avis .item-content {
  padding: 20px;
  border: 1px solid #7A95A4;
}
.avis .avis-slide .content-avis .item-content .text-content {
  font-size: 15px;
  color: #848484;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
.avis .avis-slide .content-avis .footer-avis {
  text-align: center;
  margin: 35px 0px 15px 0px;
}
.avis .avis-slide .content-avis .footer-avis img {
  width: 80px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.avis .avis-slide .content-avis .footer-avis .footer-content h6 {
  color: #848484 !important;
}
.avis .avis-slide .carousel-indicators [data-bs-target] {
  background-color: #7A95A4 !important;
}
.avis .avis-slide .carousel-indicators {
  margin-bottom: -5%;
}
@media screen and (max-width: 780px) {
  .avis .avis-slide .footer-avis {
    margin: 35px 0px 35px 0px !important;
  }
  .avis .avis-slide .carousel-control-next,
.avis .avis-slide .carousel-control-prev {
    color: #7A95A4 !important;
  }
}

.formules .price {
  padding: 80px 0 80px 0px;
}
.formules .price .card {
  padding: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.formules .price .card .card-header {
  padding-bottom: 20px;
  background-color: transparent;
}
.formules .price .card h5 {
  text-align: center;
}
.formules .price .card h6 {
  text-align: center;
  margin-top: 30px;
}
.formules .price .card nav ul li {
  text-align: center;
}
.formules .price .card:hover {
  transform: scale(1.05);
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
}
.formules .price .card .card-footer {
  padding-top: 20px;
  background-color: transparent;
}
@media screen and (max-width: 1024px) {
  .formules .price .card h5 {
    font-size: 11px;
  }
}
@media screen and (max-width: 480px) {
  .formules .price {
    padding: 50px 0px 50px 0px;
  }
}

.m-service .banner-service {
  height: auto;
  background-size: cover;
  padding: 150px 0px 150px 0px;
  background-repeat: no-repeat;
  background-image: url("../image/services/details/banner.png");
}
.m-service .banner-service .content {
  padding: 84px;
  margin: 30% 0% 9% -45%;
  background-color: #FFFFFF;
}
.m-service .banner-service .content h1 {
  margin-bottom: 35px;
}
.m-service .banner-service .content p {
  margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .m-service .banner-service .content {
    margin: 26% 0% 14% 0% !important;
    padding: 30px 20px 4px 20px;
  }
  .m-service .banner-service .content h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}
.m-service .ban {
  padding: 80px 0 80px 0px;
  background-color: #628090;
}
.m-service .ban .text h2 {
  margin-bottom: 35px;
}
.m-service .ban .text p {
  margin-bottom: 35px;
}
.m-service .numero1,
.m-service .numero3 {
  padding: 80px 0px 80px 0px;
  background-color: #090808;
}
.m-service .numero1 .content .text h3,
.m-service .numero1 .content .text h5,
.m-service .numero3 .content .text h3,
.m-service .numero3 .content .text h5 {
  margin-bottom: 35px;
}
.m-service .numero1 .content .text p,
.m-service .numero3 .content .text p {
  margin-bottom: 35px;
}
.m-service .numero1 img,
.m-service .numero3 img {
  width: 100%;
}
.m-service .numero2,
.m-service .numero4 {
  padding: 80px 0px 80px 0px;
}
.m-service .numero2 img,
.m-service .numero4 img {
  width: 100%;
}
.m-service .numero2 .text h4,
.m-service .numero4 .text h4 {
  margin-bottom: 35px;
}
.m-service .numero2 .text p,
.m-service .numero4 .text p {
  margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .m-service .ban {
    padding: 0px 0px 30px 0px !important;
  }
  .m-service .ban h2 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
  .m-service .numero1,
.m-service .numero3 {
    padding: 30px 0px 50px 0px !important;
  }
  .m-service .numero1 h3,
.m-service .numero1 h5,
.m-service .numero3 h3,
.m-service .numero3 h5 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
  .m-service .numero2,
.m-service .numero4 {
    padding: 30px 0px 50px 0px !important;
  }
  .m-service .numero2 h4,
.m-service .numero4 h4 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 780px) {
  .m-service .banner-service {
    padding: 10px 0px 10px 0px;
  }
  .m-service .banner-service .content {
    margin: 26% 0% 30% 0%;
  }
  .m-service .ban {
    padding: 50px 0px 50px 0px;
  }
}

.etranger .etranger-ban {
  height: auto;
  background-size: cover;
  padding: 80px 0px 80px 0px;
  background-repeat: no-repeat;
  background-image: url("../image/etranger/section.png");
}
.etranger .etranger-ban .content {
  padding: 84px;
  margin: 30% 0% 9% -45%;
  background-color: #FFFFFF;
}
.etranger .etranger-ban .content h1 {
  margin-bottom: 35px;
  line-height: 45px;
}
.etranger .etranger-ban .content p {
  margin-bottom: 35px;
}
.etranger .e-intro {
  padding: 80px 0px 80px 0px;
  background-color: #090808;
}
.etranger .e-intro .text h2 {
  margin-bottom: 35px;
}
.etranger .e-intro .text p {
  margin-bottom: 35px;
}
.etranger .part-1,
.etranger .part-3,
.etranger .part-5 {
  padding: 80px 0px 80px 0px;
}
.etranger .part-1 .text h3,
.etranger .part-3 .text h3,
.etranger .part-5 .text h3 {
  margin-bottom: 35px;
}
.etranger .part-1 .text p,
.etranger .part-3 .text p,
.etranger .part-5 .text p {
  margin-bottom: 35px;
}
.etranger .part-1 img,
.etranger .part-3 img,
.etranger .part-5 img {
  width: 100%;
}
.etranger .part-2,
.etranger .part-4 {
  padding: 80px 0px 80px 0px;
  background-color: #090808;
}
.etranger .part-2 .text h4,
.etranger .part-4 .text h4 {
  margin-bottom: 35px;
}
.etranger .part-2 .text p,
.etranger .part-4 .text p {
  margin-bottom: 35px;
}
.etranger .part-2 img,
.etranger .part-4 img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .etranger .etranger-ban .content {
    margin: 26% 0% 14% 0% !important;
    padding: 30px 20px 30px 20px;
  }
  .etranger .etranger-ban .content h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
  .etranger .e-intro {
    padding: 30px 0px 30px 0px !important;
  }
  .etranger .e-intro h2 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 45px !important;
  }
  .etranger .part-1,
.etranger .part-2,
.etranger .part-3,
.etranger .part-4,
.etranger .part-5 {
    padding: 50px 0px 50px 0px;
  }
  .etranger .part-1 h3,
.etranger .part-1 h4,
.etranger .part-2 h3,
.etranger .part-2 h4,
.etranger .part-3 h3,
.etranger .part-3 h4,
.etranger .part-4 h3,
.etranger .part-4 h4,
.etranger .part-5 h3,
.etranger .part-5 h4 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
  .etranger .part-2 h4,
.etranger .part-4 h4 {
    margin-top: 25px;
  }
}
@media screen and (max-width: 780px) {
  .etranger .etranger-ban {
    padding: 10px 0px 10px 0px;
  }
  .etranger .etranger-ban .content {
    margin: 26% 0% 30% 0%;
  }
  .etranger .e-intro {
    padding: 50px 0px 50px 0px;
  }
}

.villas .banner-villa {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/presta/villas.png");
}
.villas .banner-villa .content {
  padding: 120px 60px 120px 0px;
}
.villas .banner-villa .content .text h1 {
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .villas .banner-villa .content {
    padding: 80px 0px 80px 0px !important;
  }
  .villas .banner-villa .content h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 1024px) {
  .villas .banner-villa .content {
    padding: 120px 0px 120px 0px;
  }
}
.villas .presta-villa {
  padding: 80px 0px 80px 0px;
}
.villas .presta-villa h2 {
  margin-bottom: 30px;
}
.villas .presta-villa img {
  margin: 30px 0px 30px 0px;
}
@media screen and (max-width: 480px) {
  .villas .presta-villa {
    padding: 50px 0px 50px 0px;
  }
  .villas .presta-villa h2 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}

.bureaux .banner-bureaux {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0px 120px 0px;
  background-image: url("../image/presta/bureaux.png");
}
.bureaux .banner-bureaux .content {
  padding: 80px;
  background-color: #0908089a;
}
.bureaux .banner-bureaux .content h1 {
  margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .bureaux .banner-bureaux {
    padding: 80px 0px 80px 0px;
  }
  .bureaux .banner-bureaux .content {
    padding: 40px 25px 40px 25px;
  }
  .bureaux .banner-bureaux .content h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}
.bureaux .presta-bureau {
  padding: 80px 0px 80px 0px;
}
.bureaux .presta-bureau h2 {
  margin-bottom: 30px;
}
.bureaux .presta-bureau img {
  margin: 30px 0px 30px 0px;
}
@media screen and (max-width: 480px) {
  .bureaux .presta-bureau {
    padding: 50px 0px 50px 0px;
  }
  .bureaux .presta-bureau h2 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}

.appartements .banner-appart {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/presta/appartements.png");
}
.appartements .banner-appart .content {
  padding: 120px 60px 120px 0px;
}
.appartements .banner-appart .content .text h1 {
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .appartements .banner-appart #content {
    padding: 50px 0px 50px 0px !important;
  }
  .appartements .banner-appart #content h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 750px) {
  .appartements .banner-appart .content {
    padding: 120px 40px 120px 0px !important;
  }
}
@media screen and (max-width: 1024px) {
  .appartements .banner-appart .content {
    padding: 120px 0px 120px 0px;
  }
}
.appartements .presta-appart {
  padding: 80px 0px 80px 0px;
}
.appartements .presta-appart h2 {
  margin-bottom: 30px;
}
.appartements .presta-appart img {
  margin: 30px 0px 30px 0px;
}
@media screen and (max-width: 480px) {
  .appartements .presta-appart {
    padding: 50px 0px 50px 0px;
  }
  .appartements .presta-appart h2 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}

.prestations .banner-presta {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0px 120px 0px;
  background-image: url("../image/presta/prestations.png");
}
.prestations .banner-presta .content {
  padding: 80px;
  background-color: #0908089a;
}
.prestations .banner-presta .content h1 {
  margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .prestations .banner-presta {
    padding: 80px 0px 80px 0px;
  }
  .prestations .banner-presta .content {
    padding: 40px 25px 40px 25px;
  }
  .prestations .banner-presta .content h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}
.prestations .premiere {
  padding: 80px 0px 120px 0px;
}
.prestations .premiere h2 {
  margin-bottom: 30px;
}
.prestations .premiere .carousel-indicators [data-bs-target] {
  background-color: #7A95A4 !important;
}
.prestations .premiere .carousel-indicators {
  margin-bottom: -4%;
}
@media screen and (max-width: 480px) {
  .prestations .premiere {
    padding: 50px 0px 80px 0px;
  }
  .prestations .premiere h2 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}
.prestations .second {
  padding: 80px 0px 120px 0px;
  background-color: #090808;
}
.prestations .second h3 {
  margin-bottom: 30px;
}
.prestations .second .carousel-indicators [data-bs-target] {
  background-color: #7A95A4 !important;
}
.prestations .second .carousel-indicators {
  margin-bottom: -4%;
}
@media screen and (max-width: 780px) {
  .prestations .slide img {
    margin-bottom: 30px;
  }
}
.prestations .troisieme {
  padding: 80px 0px 120px 0px;
}
.prestations .troisieme h4 {
  margin-bottom: 30px;
}
.prestations .troisieme .carousel-indicators [data-bs-target] {
  background-color: #7A95A4 !important;
}
.prestations .troisieme .carousel-indicators {
  margin-bottom: -4%;
}
@media screen and (max-width: 480px) {
  .prestations .troisieme {
    padding: 50px 0px 80px 0px;
  }
  .prestations .troisieme h4 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}

.faq .intro-faq {
  padding: 80px 0px 80px 0px;
  background-color: #090808;
}
@media screen and (max-width: 480px) {
  .faq .intro-faq h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}
.faq .part-f {
  padding: 80px 0px 80px 0px;
}
.faq .part-f .accordion-item {
  border: 0.5px solid #7A95A4;
}
.faq .part-f .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #A6CDE1;
  background-color: #7A95A4;
}
.faq .part-f .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  content: "↓";
  font-size: 15px;
  background-image: none !important;
}
.politique .contenu {
  padding: 80px 0px 80px 0px;
}
.politique .intro {
  padding: 80px 0px 80px 0px;
  background-color: #090808;
}
@media screen and (max-width: 480px) {
  .politique .intro {
    padding: 50px 0px 50px 0px;
  }
  .politique .intro h1 {
    font-size: 21px !important;
    text-align: center !important;
    line-height: 35px !important;
    margin-bottom: 20px !important;
  }
}
.politique h1,
.politique h2,
.politique h3,
.politique h4 {
  margin-bottom: 35px;
}
.politique p {
  margin-bottom: 35px;
}

.aside-projets {
  top: 120px;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 50px;
  height: 252px;
  z-index: 9999;
  position: fixed;
  transition: 0.3s all;
  background-color: #111111;
}
.aside-projets .content-projets {
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
}
.aside-projets a {
  margin: 0;
  padding: 10px;
  display: block;
  cursor: pointer;
  text-align: center;
  position: relative;
  border-radius: 0.25rem 0.25rem;
  transition: 0.5s all ease-in-out;
  border-bottom: 0.5px solid #848484;
}
.aside-projets a i {
  font-size: 25px;
  color: #F4F1F1;
}

/*# sourceMappingURL=style.css.map */
