* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #090808;
}

header .navbar-dark .navbar-nav .dropdown-menu.show li .dropdown-item, header .navbar-dark .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #F4F4F4;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: "Anaheim", sans-serif;
}

footer .links-aide a {
  font-size: 13.2px;
  color: #F4F1F1;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
footer .links-aide a:hover {
  color: #F4F1F1;
}

footer .copy .links a {
  font-size: 12px;
  color: #6A8796;
  margin-left: 15px;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}

footer .h3,
footer h4,
footer h5 {
  font-size: 15px;
  color: #F4F4F4;
  font-weight: 600;
  padding-left: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-left: 3px solid #6A8796;
  font-family: "Alef", sans-serif;
}

footer p {
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
  color: #F4F1F1;
  font-family: "Anaheim", sans-serif;
}
footer p i {
  margin-right: 10px;
}

section {
  padding: 75px 0px 75px 0px;
}

.text-light {
  font-size: 16px;
  color: #F4F4F4;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}

.text-dark {
  font-size: 16px;
  color: #090808;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}

.card-formules .card-header a a, .card .card-header a {
  font-size: 11px;
  color: #F4F4F4;
  letter-spacing: 1.3px;
  font-family: "Anaheim", sans-serif;
  text-decoration: none;
}
.card-formules .card-header a i, .card .card-header i {
  color: #D6E2E8;
}

.card-formules h5, .card .card-body h5 {
  font-size: 16px;
  color: #F4F1F1;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.card .card-body p {
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
  color: #F4F4F4;
  font-family: "Anaheim", sans-serif;
}

.avis-slide .content-avis .footer-avis .footer-content h5, .testimonials .footer-testi h5 {
  font-size: 13px;
  color: #D6E2E8;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.avis-slide .content-avis .footer-avis .footer-content h6, .testimonials .footer-testi h6 {
  font-size: 11px;
  color: #090808;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: "Alef", sans-serif;
}

.newsletter input {
  font-size: 12px;
  font-weight: 400;
  color: #090808;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  border: 0.5px solid #090808;
  background-color: transparent;
  font-family: "Anaheim", sans-serif;
}

.newsletter .btn-news {
  font-size: 10px;
  color: #6A8796;
  letter-spacing: 3.5px;
  border: 0.5px solid #6A8796;
  padding: 15px 25px 15px 25px;
  font-family: "Alef", sans-serif;
}
.newsletter .btn-news:hover {
  color: #BCD8E6;
  border: 0.5px solid #BCD8E6;
}

.card-formules h5, .card .card-body h5 {
  font-size: 22px;
  color: #6A8796;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.card .card-body p {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  color: #F4F4F4;
  font-family: "Anaheim", sans-serif;
}

.card-formules .card-header a, .card .card-header {
  font-size: 16px;
  color: #F4F4F4;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
.card-formules .card-header a i, .card .card-header i {
  color: #D6E2E8;
}

.card-formules h6 {
  font-size: 30px;
  color: #D6E2E8;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.card-formules nav ul li a {
  font-size: 16px;
  color: #F4F4F4;
  font-weight: 300;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
.card-formules nav ul li a i {
  color: #6A8796;
}
.card-formules nav ul li a .cross {
  color: #3d3d3d;
}

.card-formules .card-footer .btn-one {
  border: none;
  width: 100%;
  font-size: 12px;
  color: #090808;
  letter-spacing: 2px;
  border-radius: 0.2rem;
  padding: 10px 15px 10px 15px;
  background-color: #F4F1F1;
  font-family: "Alef", sans-serif;
}

.card-formules .card-footer .btn-two {
  border: none;
  width: 100%;
  font-size: 12px;
  color: #F4F1F1;
  letter-spacing: 2px;
  border-radius: 0.2rem;
  padding: 10px 15px 10px 15px;
  background-color: #6A8796;
  font-family: "Alef", sans-serif;
}

.body-accueil {
  height: 180vh;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-image: url("../img/header/etranger-banner.png");
}

header {
  background-color: #090808a6;
}
header .info-header {
  padding: 10px 0px 5px 0px;
  border-bottom: 0.5px solid #f4f1f16b;
}
header .info-header ul li {
  float: left;
  position: relative;
  padding-right: 24px;
  margin: 10px 20px 10px 0px;
  border-right: 1px solid #aaaaaa;
}
@media screen and (max-width: 480px) {
  header .info-header ul li {
    padding-right: 7px;
    margin: 5px 5px 5px 0px;
  }
}
header .info-header span {
  text-align: justify;
}
header .info-header span h3,
header .info-header span h4,
header .info-header span h5,
header .info-header span h6 {
  color: #F4F1F1;
  font-size: 10px;
  font-family: "Anaheim", sans-serif;
}
header .info-header .res ul {
  float: right;
}
header .info-header .res ul li {
  padding-right: 10px;
  border-right: none;
  margin: 0px 0px 0px 0px;
}
header .info-header .res ul li a i {
  color: #F4F1F1;
  font-size: 10px;
}
@media screen and (max-width: 480px) {
  header .info-header .res {
    margin-top: -33px !important;
    margin-bottom: -10px !important;
  }
}
@media screen and (max-width: 750px) {
  header .info-header .res {
    margin-top: -40px;
  }
}
header h1 {
  color: #F4F1F1;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}
header h1 .title-site {
  color: #BCD8E6;
}
header .navbar-dark {
  padding: 10px 0px 10px 0px;
}
header .navbar-dark .navbar-nav .nav-link.active {
  color: #BCD8E6;
  font-weight: 600;
}
header .navbar-dark .navbar-nav .dropdown-menu.show {
  border: none !important;
  background-color: #090808a6 !important;
}
header .navbar-dark .navbar-nav .dropdown-menu.show li hr {
  color: #F4F4F4;
}
header .navbar-dark .navbar-nav .dropdown-menu.show li .dropdown-item {
  font-size: 11px !important;
}
header .navbar-dark .navbar-nav .dropdown-menu.show li .dropdown-item:hover {
  background-color: transparent;
}
header .navbar-dark .navbar-nav .dropdown-menu.show li:hover {
  background-color: #6A8796;
}
header .navbar-dark form input {
  color: #F4F1F1;
  font-size: 15px;
  letter-spacing: 0.2px;
  border: 0.5px solid #f4f1f16b;
  background-color: transparent !important;
  font-family: "Anaheim", sans-serif;
}
header .navbar-dark form input::placeholder {
  color: #F4F1F1;
}
@media screen and (max-width: 780px) {
  header .navbar-dark .navbar-toggler {
    color: #BCD8E6 !important;
    border-color: #BCD8E6 !important;
  }
  header .navbar-dark .navbar-toggler .icon-nav i {
    color: #D6E2E8;
  }
}

footer {
  padding-bottom: 50px;
  background-color: #090808;
}
footer .h3,
footer h4,
footer h5 {
  margin-bottom: 25px;
}
footer h6 {
  font-size: 12px;
  color: #F4F1F1;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
footer p .text-end {
  float: right;
  color: #6A8796;
}
footer .copy {
  margin-top: 35px;
  padding-top: 25px;
  border-top: 0.5px solid #f4f1f16b;
}
@media screen and (max-width: 480px) {
  footer .copy .links a {
    margin: 15px 15px 0px 0px;
  }
}
@media screen and (max-width: 1024px) {
  footer .copy .links {
    margin-top: -8px;
  }
}
@media screen and (max-width: 480px) {
  footer h4 {
    margin-top: 10px;
  }
  footer h5 {
    margin-top: 15px;
  }
  footer h6 {
    line-height: 22px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 780px) {
  footer .text-1 {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1024px) {
  footer {
    padding-bottom: 40px;
  }
}

h1,
h2,
h3 {
  font-size: 25px;
  color: #F4F4F4;
  font-weight: 600;
  padding-left: 15px;
  letter-spacing: 4px;
  line-height: 45px;
  text-transform: uppercase;
  border-left: 3px solid #6A8796;
  font-family: "Alef", sans-serif;
}
@media screen and (max-width: 480px) {
  h1,
h2,
h3 {
    font-size: 20px !important;
  }
}

.intro {
  padding: 75px 0px 75px 0px;
}
.intro .content {
  padding: 45px;
  margin: 120px 0px 120px 0px;
  background-color: #090808a6;
}
.intro .content .text h1 {
  margin-bottom: 25px;
}
@media screen and (max-width: 480px) {
  .intro .content {
    margin: 60px 0px 60px 0px;
    padding: 45px 25px 45px 25px;
  }
}

.services {
  background-color: #090808;
  padding: 75px 0px 75px 0px;
}

.number-section {
  background-color: white;
  padding: 75px 0px 75px 0px;
}
.number-section .content-numb {
  padding: 20px;
}
.number-section .content-numb .icon {
  text-align: center;
  margin-bottom: 15px;
}
.number-section .content-numb .icon img {
  width: 95px;
}
.number-section .content-numb .number {
  text-align: center;
}
.number-section .content-numb .number span {
  font-size: 45px;
  font-style: italic;
  color: #090808;
  font-family: "Anaheim", sans-serif;
}
.number-section .content-numb .title-num {
  text-align: center;
  margin: 15px 0px 0px 0px;
}
.number-section .content-numb .title-num h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  color: #6A8796;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}

.about {
  background-color: #090808;
  padding: 75px 0px 75px 0px;
}
.about .content {
  padding: 80px 40px 80px 0px;
}
.about .content h2 {
  margin-bottom: 25px;
}
.about .content p {
  margin: 25px 0px 25px 0px;
}
.about img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 480px) {
  .about .img {
    width: 368px !important;
    margin-left: -20.5% !important;
    margin-top: 25px !important;
  }
  .about #content {
    padding: 0px !important;
  }
}
@media screen and (max-width: 780px) {
  .about .content {
    padding: 38px 64px 38px 0px !important;
  }
  .about img {
    margin-left: -59% !important;
  }
}
@media screen and (max-width: 1024px) {
  .about .content {
    padding: 80px 0px 80px 0px;
  }
  .about img {
    width: 569px;
    height: auto;
    margin-left: -69px;
  }
}

.testimonials {
  background-color: white;
  padding: 75px 0px 75px 0px;
}
.testimonials h3 {
  color: #090808 !important;
  margin: 0px 0px 45px 0px;
}
.testimonials .content-testi .item-content .icon {
  font-size: 60px;
  font-weight: 800;
  color: #D6E2E8;
}
.testimonials .content-testi .item-content .text-content {
  font-size: 17px;
  color: #090808;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
.testimonials .footer-testi {
  margin: 35px 0px 35px 20%;
}
.testimonials .footer-testi img {
  float: left;
  margin-left: 15%;
  border-radius: 10px;
  padding-right: 35px;
}
.testimonials .footer-testi .footer-content {
  padding-top: 25px;
}
.testimonials .carousel-indicators {
  margin-bottom: -7%;
  padding-bottom: 50px;
}
.testimonials .carousel-indicators [data-bs-target] {
  background-color: #090808 !important;
}
@media screen and (max-width: 780px) {
  .testimonials .carousel-indicators {
    margin-bottom: -15%;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .testimonials {
    padding: 50px 0px 80px 0px;
  }
  .testimonials img {
    margin-left: -23% !important;
    padding-right: 15px !important;
  }
  .testimonials h5,
.testimonials h6 {
    line-height: 19px;
  }
  .testimonials .footer-content {
    padding-top: 10px !important;
  }
  .testimonials .carousel-indicators {
    margin-bottom: -26% !important;
  }
}

.prestations {
  background-color: #090808;
  padding: 75px 0px 75px 0px;
}
.prestations img {
  width: 100%;
}
.prestations .content {
  padding: 80px 0 80px 0px;
}
.prestations .content h3 {
  margin-bottom: 25px;
}
.prestations .content p {
  margin-bottom: 25px;
}
@media screen and (max-width: 780px) {
  .prestations .content {
    padding: 30px 0px 30px 0px !important;
  }
}
@media screen and (max-width: 1024px) {
  .prestations .content {
    padding: 0px 0px 0px 28px;
  }
}

.newsletter {
  background-color: white;
  padding: 75px 0px 75px 0px;
}
.newsletter h2 {
  color: #090808;
  margin-bottom: 45px;
}
.newsletter input {
  margin: 15px 0px 15px 0px;
}
.newsletter p {
  margin-bottom: 25px;
}
.newsletter .btn-news {
  margin-top: 15px;
}

.devis {
  background-color: #090808;
  padding: 75px 0px 75px 0px;
}
.devis .image {
  border: 1px solid #D6E2E8;
  padding: 80px;
}
.devis .image img {
  width: 100%;
}
.devis .content {
  padding: 50px 0px 50px 60px;
}
.devis .content p {
  margin: 25px 0px 25px 0px;
}
@media screen and (max-width: 480px) {
  .devis .image {
    padding: 30px !important;
  }
}
@media screen and (max-width: 780px) {
  .devis .image {
    margin-bottom: 45px;
  }
  .devis .content {
    padding: 0px !important;
  }
}
@media screen and (max-width: 1024px) {
  .devis .content {
    padding: 0px 0px 50px 28px;
  }
}

#ButtonTop {
  right: 25px;
  bottom: 25px;
  z-index: 100;
  border: none;
  outline: none;
  display: none;
  padding: 15px;
  cursor: pointer;
  position: fixed;
  color: #F4F1F1;
  font-size: 15px;
  border-radius: 15px;
  background-color: #6A8796;
}
#ButtonTop:hover {
  background-color: #BCD8E6;
}

.btn-sec {
  margin-top: 20px;
}
.btn-sec .button-sec {
  color: #D6E2E8;
}
.btn-sec .button-sec .btn {
  font-size: 10px;
  color: #D6E2E8;
  letter-spacing: 3.5px;
  border: 0.5px solid #BCD8E6;
  padding: 15px 25px 15px 25px;
  font-family: "Alef", sans-serif;
}
.btn-sec .button-sec .btn:hover {
  color: #F4F1F1;
  border: 0.5px solid #F4F1F1;
}
.btn-sec .button-sec:hover {
  color: #F4F1F1;
}

.card {
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
  border: 0.5px solid #D6E2E8;
  background-color: transparent;
}
.card .card-header {
  padding-bottom: 20px;
  background-color: transparent;
}
.card .card-body {
  padding: 20px 0px 20px 0px;
}
.card .card-body h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 15px 15px 10px rgba(36, 36, 36, 0.589);
}

.formules {
  padding: 120px 0px 120px 0px;
}

.card-formules {
  cursor: pointer;
  transition: 0.5s;
  border: 0.5px solid #6A8796;
  background-color: transparent;
  padding: 30px;
}
.card-formules .card-header {
  padding-bottom: 20px;
  background-color: transparent;
}
.card-formules h5 {
  text-align: center;
}
.card-formules h6 {
  text-align: center;
  margin-top: 30px;
}
.card-formules nav ul li {
  text-align: center;
}
.card-formules:hover {
  transform: scale(1.05);
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
}
.card-formules .card-footer {
  padding-top: 20px;
  background-color: transparent;
}
@media screen and (max-width: 1024px) {
  .card-formules h5 {
    font-size: 11px;
  }
}

.histoire .content,
.histoire-3 .content {
  padding: 80px 0px 80px 0px;
}
.histoire .content h1,
.histoire-3 .content h1 {
  margin-bottom: 45px;
}
.histoire .content img,
.histoire-3 .content img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .histoire .content,
.histoire-3 .content {
    padding: 0px 0px 50px 0px;
  }
}

.histoire-2 {
  height: auto;
  background-size: cover;
  padding: 80px 0px 80px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-image: url("../img/sommes/deuxieme-b.png");
}
.histoire-2 .content {
  padding: 45px;
  background-color: #090808a6;
}
.histoire-2 .content p {
  margin: 45px 0px 45px 0px;
}

.histoire-4 {
  height: auto;
  background-size: cover;
  padding: 80px 0px 80px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-image: url("../img/sommes/quatrieme.png");
}
.histoire-4 .content {
  padding: 45px;
  background-color: #090808a6;
}
.histoire-4 .content p {
  margin: 45px 0px 45px 0px;
}

.fondatrice img {
  width: 100%;
}
.fondatrice h1 {
  margin-bottom: 40px;
}
.fondatrice .content {
  margin: 10% 0% 10% 0%;
  background-color: #090808a6;
}
.fondatrice .content .text {
  padding: 50px;
}
@media screen and (max-width: 480px) {
  .fondatrice .content {
    padding: 20px 20px 20px 20px !important;
  }
  .fondatrice .content .text {
    padding: 0px !important;
  }
}
@media screen and (max-width: 780px) {
  .fondatrice .content {
    margin: 10% 0% 0% 0%;
  }
}
@media screen and (max-width: 1024px) {
  .fondatrice {
    padding: 75px 0px 0px 0px;
  }
}

.team .img-1 {
  width: 620px;
}
@media screen and (max-width: 1024px) {
  .team .img-1 {
    width: 100%;
  }
}
.team .img-2 {
  width: 620px;
}
@media screen and (max-width: 1024px) {
  .team .img-2 {
    width: 100%;
  }
}
.team .img-equipe {
  margin-top: 50px;
  margin-bottom: 50px;
}
.team .content-1 {
  padding: 80px 50px 80px 50px;
}
.team .content-1 h2 {
  margin-bottom: 20px;
}
.team .content-1 span {
  font-size: 14px;
  font-weight: 500;
  color: #D6E2E8;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}
.team .content-1 p {
  margin: 30px 0px 0px 0px;
}
.team .content-1 .reseaux {
  margin-top: 30px;
}
.team .content-1 .reseaux a {
  font-size: 12px;
  color: #BCD8E6;
  margin-right: 15px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}
.team .content-2 {
  padding: 80px 50px 80px 50px;
}
.team .content-2 h2 {
  margin-bottom: 20px;
}
.team .content-2 span {
  font-size: 14px;
  font-weight: 500;
  color: #D6E2E8;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}
.team .content-2 p {
  margin: 30px 0px 0px 0px;
}
.team .content-2 .reseaux {
  margin-top: 30px;
}
.team .content-2 .reseaux a {
  font-size: 12px;
  color: #BCD8E6;
  margin-right: 15px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Alef", sans-serif;
}
@media screen and (max-width: 480px) {
  .team .content-1 {
    padding: 20px 20px 20px 20px !important;
  }
  .team .content-2 {
    padding: 40px 20px 20px 20px !important;
  }
  .team #img-1,
.team #img-2 {
    width: 100% !important;
  }
}
@media screen and (max-width: 780px) {
  .team .content-1 h2 {
    margin-top: 20px;
  }
  .team .content-2 {
    padding: 80px 50px 0px 50px;
  }
  .team .img-1 {
    width: 620px !important;
  }
  .team .img-2 {
    width: 620px !important;
  }
}
@media screen and (max-width: 1024px) {
  .team .content-1 {
    padding: 30px 40px 30px 57px;
  }
  .team .reseaux {
    margin-top: 0px;
  }
}

.body-avis {
  height: 180vh;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-image: url("../img/avis/banniere-header.png");
}

.intro-avis .content {
  padding: 55px;
  margin: 120px 0px 120px 0px;
  background-color: #090808a6;
}
.intro-avis .content .text h1 {
  margin-bottom: 45px;
}
@media screen and (max-width: 480px) {
  .intro-avis .content {
    margin: 60px 0px 60px 0px;
    padding: 45px 25px 45px 25px;
  }
}

.avis-slide {
  padding: 120px 0px 120px 0px;
  background-color: #090808;
}
.avis-slide .content-avis .item-content {
  padding: 20px;
  border: 1px solid #D6E2E8;
}
.avis-slide .content-avis .item-content .text-content {
  font-size: 15px;
  color: #F4F4F4;
  font-weight: 300;
  text-align: justify;
  text-decoration: none;
  font-family: "Anaheim", sans-serif;
}
.avis-slide .content-avis .footer-avis {
  text-align: center;
  margin: 35px 0px 15px 0px;
}
.avis-slide .content-avis .footer-avis img {
  width: 80px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.avis-slide .content-avis .footer-avis .footer-content h6 {
  color: #F4F4F4 !important;
}
.avis-slide .carousel-indicators [data-bs-target] {
  background-color: #D6E2E8 !important;
}
.avis-slide .carousel-indicators {
  margin-bottom: -5%;
}
@media screen and (max-width: 780px) {
  .avis-slide .footer-avis {
    margin: 35px 0px 35px 0px !important;
  }
  .avis-slide .carousel-control-next,
.avis-slide .carousel-control-prev {
    color: #D6E2E8 !important;
  }
}

.reveal {
  opacity: 0;
  position: relative;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1.5s ease-in;
}

.active.fade-left {
  animation: fade-left 1.5s ease-in;
}

.active.fade-right {
  animation: fade-right 1.5s ease-in;
}

.active.fade-in {
  animation: fade-in 1.5s ease-in;
}

.active.slideInLeft {
  animation: slideInleft 1.5s ease-in;
}

.active.slideInRight {
  animation: slideInRight 1.5s ease-in;
}

.active.slideInUp {
  animation: slideInUp 1.5s ease-in;
}

.active.slideInDown {
  animation: slideInDown 1.5s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */
